{% extends "layouts/email-layout.html" %}

{% block content %}
      <h1 class="govuk-heading-m">Click the link to confirm you want to get air quality alerts for {{ locationString }}</h1>
      <h1 class="govuk-heading-m"><a href="/{{ version }}/sign-up-for-alerts/confirmation">Activate your air quality alert</a></h1>
      <p class="govuk-body">
        This link will stop working after 7 days.
      </p>
      <p class="govuk-body">
        If you did not request this email, you can ignore it.
      </p>
{% endblock %}