{% extends "layouts/email-layout-15.html" %}
{% block content %}
  {% if status == 'activate' %}
        <h1 class="govuk-heading-m">Click the link to confirm you want to get air quality alerts for {{ locationString }}</h1>
        <h1 class="govuk-heading-m"><a href="/{{ version }}/sign-up-for-alerts/manage-alerts/confirmation">Activate your air quality alert</a></h1>
        <p class="govuk-body">
          This link will stop working after 7 days.
        </p>
        <p class="govuk-body">
          If you did not request this email, you can ignore it.
        </p>
  {% elif status == 'expired' %}
          <h1 class="govuk-heading-m">There is no longer an air quality alert near {{ locationString }}.</h1>
          <p class="govuk-body">
            <a href="#">Unsubscribe</a>
          </p>
          <p class="govuk-body">
            <a href="#">Make changes to your air quality alerts</a>
          </p>
  {% elif status == 'forecast' %}
          <h1 class="govuk-heading-m">High levels of air pollution are forecast in the next 5 days for {{ locationString }} for further advice go to <a href="/{{ version }}/location-forecast">check-air-quality.service.gov.uk/forecast</a>.</h1>
          <p class="govuk-body">
            <a href="#">Unsubscribe</a>
          </p>
          <p class="govuk-body">
            <a href="#">Make changes to your air quality alerts</a>
          </p>
  {% elif status == 'alert' %}
          <h1 class="govuk-heading-m">There is an air quality alert 5 miles from {{ locationString }} for further information go to <a href="/{{ version }}/alerts/birmingham-ladywood">check-air-quality.service.gov.uk/alert</a>.</h1>
          <p class="govuk-body">
            <a href="#">Unsubscribe</a>
          </p>
          <p class="govuk-body">
            <a href="#">Make changes to your air quality alerts</a>
          </p>
  {% else %}
        <h1 class="govuk-heading-m">An error has occured</h1>
  {% endif %}
{% endblock %}
