{% extends "layouts/sprint-15.html" %}
{% set caption = "" %}
{% set title = "Health effects of poor air quality" %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-until-desktop govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        {{ title | safe }}</h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full-until-desktop govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-9">
      <p>Poor air quality is the largest environmental risk to public health in the UK.</p>
      <p>Long term exposure to air pollution (over years) reduces life expectancy. Short term exposure (over hours or days) can also cause a range of health impacts.</p>
      <h2 class="govuk-heading-s">Short term effects of air pollution can include:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>worsening of asthma symptoms</li>
        <li>worsening of chronic obstructive pulmonary disease (COPD)</li>
        <li>difficulty breathing</li>
        <li>coughing</li>
        <li>eye, nose, and throat irritation</li>
        <li>chest tightness and pain</li>
      </ul>
      <h2 class="govuk-heading-s">
        Long term health effects of air pollution can include: 
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>heart disease</li>
        <li>stroke</li>
        <li>diabetes</li>
        <li>cancer</li>
        <li>chronic obstructive pulmonary disease (COPD)</li>
        <li>Alzheimer's and Parkinson's disease</li>
        <li>dementia</li>
        <li>poorer lung function in children</li>
        <li>increase in respiratory illnesses</li>
      </ul>
    </div>
    <div class="govuk-grid-column-full-until-desktop govuk-grid-column-one-third-from-desktop">
      {{ xGovukRelatedNavigation({
        sections: [{
          items: [{
            text: "Check air quality",
            href: "/" + version + "/"
          }, {
            text: "Air pollutants we measure",
            href: "/" + version + "/air-pollutants-we-measure"
          },
          {
            text: "Why we monitor air pollution",
            href: "/" + version + "/why-we-monitor-air-pollution"
          },
          {
            text: "Air quality alerts",
            href: "/" + version + "/alerts"
          }
          ]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
