{% extends "layouts/sprint-29.html" %}
{% set showAnotherService = true %}
{% set anotherServiceName = "Check air quality" %}


{% block pageTitle %}
Check your email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype and is not a live service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Confirm you want to set up an alert for Bristol, City of Bristol</h1>

      <p class="govuk-body">
        You are setting up an alert to get notified: 
      </p>
      
        <ul class="govuk-list govuk-list--bullet">
          <li>when the air quality forecast in Bristol, City of Bristol is high or very high</li>
          <li>if a nearby monitoring site detects high or very high pollution levels anywhere in the South West region</li>
        </ul>

    <div class="govuk-!-padding-bottom-5"></div>

    <!---- DYNAMIC LINK BASED ON EMAIL OR TEXT ---->
    {% if text %}

       {{ govukButton({
        text: "Continue",
        href: "/" + version + "/sign-up-for-alerts/code-presend-2"
      }) }}

    {% else %}

      {{ govukButton({
        text: "Continue",
        href: "/" + version + "/sign-up-for-alerts/check-your-email-2"
      }) }}

    {% endif %}
     

    <!--{{ locationString }}-->

    </div>
  </div>

{% endblock %}