// Import govuk-frontend styles
@import "node_modules/govuk-frontend/dist/govuk/all";

.sprint-6 {

  // Tools
  @import "sprint-6/tools/mixins";

  // Elements
  @import "sprint-6/elements/colour";
  @import "sprint-6/elements/layout";
  @import "sprint-6/elements/typography";
  @import "sprint-6/elements/tables";

  // Components
  @import "sprint-6/components/daqitag";
  @import "sprint-6/components/daqitable";
  @import "sprint-6/components/toggletips";
  @import "sprint-6/components/aq-levels-table";
  @import "sprint-6/components/aq-tabs";
  @import "sprint-6/components/cards";
  @import "sprint-6/components/inset-text-colour";
  @import "sprint-6/components/aq-definition-list";
  @import "sprint-6/components/aq-forecast";
}

.sprint-8 {

  // Tools
  @import "sprint-8/tools/mixins";

  // Elements
  @import "sprint-8/elements/colour";
  @import "sprint-8/elements/layout";
  @import "sprint-8/elements/typography";
  @import "sprint-8/elements/tables";

  // Components
  @import "sprint-8/components/daqitag";
  @import "sprint-8/components/daqitable";
  @import "sprint-8/components/toggletips";
  @import "sprint-8/components/aq-levels-table";
  @import "sprint-8/components/aq-pollutant-levels";
  @import "sprint-8/components/aq-tabs";
  @import "sprint-8/components/cards";
  @import "sprint-8/components/inset-text-colour";
  @import "sprint-8/components/aq-definition-list";
  @import "sprint-8/components/aq-forecast";
  @import "sprint-8/components/aq-charts";
}

.post-mvp {

  // Tools
  @import "post-mvp/tools/mixins";

  // Elements
  @import "post-mvp/elements/colour";
  @import "post-mvp/elements/layout";
  @import "post-mvp/elements/typography";
  @import "post-mvp/elements/tables";

  // Components
  @import "post-mvp/components/daqitag";
  @import "post-mvp/components/daqitable";
  @import "post-mvp/components/toggletips";
  @import "post-mvp/components/aq-levels-table";
  @import "post-mvp/components/aq-tabs";
  @import "post-mvp/components/cards";
  @import "post-mvp/components/inset-text-colour";
  @import "post-mvp/components/aq-definition-list";
  @import "post-mvp/components/aq-forecast";
  @import "post-mvp/components/language-toggle";
}

.sprint-9 {

  // Tools
  @import "sprint-9/tools/mixins";

  // Elements
  @import "sprint-9/elements/colour";
  @import "sprint-9/elements/layout";
  @import "sprint-9/elements/typography";
  @import "sprint-9/elements/tables";

  // Components
  @import "sprint-9/components/daqitag";
  @import "sprint-9/components/daqitable";
  @import "sprint-9/components/toggletips";
  @import "sprint-9/components/aq-levels-table";
  @import "sprint-9/components/aq-tabs";
  @import "sprint-9/components/cards";
  @import "sprint-9/components/inset-text-colour";
  @import "sprint-9/components/aq-definition-list";
  @import "sprint-9/components/aq-levels-list";
  @import "sprint-9/components/aq-forecast";
}

.sprint-10 {

  // Tools
  @import "sprint-10/tools/mixins";

  // Elements
  @import "sprint-10/elements/colour";
  @import "sprint-10/elements/layout";
  @import "sprint-10/elements/typography";
  @import "sprint-10/elements/tables";

  // Components
  @import "sprint-10/components/daqitag";
  @import "sprint-10/components/daqitable";
  @import "sprint-10/components/toggletips";
  @import "sprint-10/components/aq-levels-table";
  @import "sprint-10/components/aq-tabs";
  @import "sprint-10/components/cards";
  @import "sprint-10/components/inset-text-colour";
  @import "sprint-10/components/aq-definition-list";
  @import "sprint-10/components/aq-levels-list";
  @import "sprint-10/components/aq-forecast";
}

.sprint-13 {

  // Tools
  @import "sprint-13/tools/mixins";

  // Elements
  @import "sprint-13/elements/colour";
  @import "sprint-13/elements/layout";
  @import "sprint-13/elements/typography";
  @import "sprint-13/elements/tables";
  @import "sprint-13/elements/icons";
  @import "sprint-13/elements/aq-buttons";

  // Components
  @import "sprint-13/components/daqitag";
  @import "sprint-13/components/daqitable";
  @import "sprint-13/components/toggletips";
  @import "sprint-13/components/aq-levels-table";
  @import "sprint-13/components/aq-tabs";
  @import "sprint-13/components/cards";
  @import "sprint-13/components/inset-text-colour";
  @import "sprint-13/components/aq-definition-list";
  @import "sprint-13/components/aq-levels-list";
  @import "sprint-13/components/aq-forecast";
  @import "sprint-13/components/gem-cards.scss";
  @import "sprint-13/components/notfication-banner.scss";
  @import "sprint-13/components/masthead";
  @import "sprint-13/components/aq-browse-section";
}

.post-mvp-fixes {

  // Tools
  @import "post-mvp-fixes/tools/mixins";

  // Elements
  @import "post-mvp-fixes/elements/colour";
  @import "post-mvp-fixes/elements/layout";
  @import "post-mvp-fixes/elements/typography";
  @import "post-mvp-fixes/elements/tables";

  // Components
  @import "post-mvp-fixes/components/daqitag";
  @import "post-mvp-fixes/components/daqi";
  @import "post-mvp-fixes/components/toggletips";
  @import "post-mvp-fixes/components/aq-levels-table";
  @import "post-mvp-fixes/components/aq-tabs";
  @import "post-mvp-fixes/components/cards";
  @import "post-mvp-fixes/components/inset-text-colour";
  @import "post-mvp-fixes/components/aq-definition-list";
  @import "post-mvp-fixes/components/aq-forecast";
  @import "post-mvp-fixes/components/language-toggle";
}

.sprint-14 {

  // Tools
  @import "sprint-14/tools/mixins";

  // Elements
  @import "sprint-14/elements/colour";
  @import "sprint-14/elements/layout";
  @import "sprint-14/elements/typography";
  @import "sprint-14/elements/tables";
  @import "sprint-14/elements/icons";
  @import "sprint-14/elements/aq-buttons";

  // Components
  @import "sprint-14/components/daqitag";
  @import "sprint-14/components/daqi";
  @import "sprint-14/components/toggletips";
  @import "sprint-14/components/aq-levels-table";
  @import "sprint-14/components/aq-tabs";
  @import "sprint-14/components/cards";
  @import "sprint-14/components/inset-text-colour";
  @import "sprint-14/components/aq-definition-list";
  @import "sprint-14/components/aq-levels-list";
  @import "sprint-14/components/aq-forecast";
  @import "sprint-14/components/gem-cards.scss";
  @import "sprint-14/components/notfication-banner.scss";
  @import "sprint-14/components/masthead";
  @import "sprint-14/components/aq-browse-section";
}

.sprint-15 {
  // Tools
  @import "sprint-15/tools/mixins";

  // Elements
  @import "sprint-15/elements/colour";
  @import "sprint-15/elements/layout";
  @import "sprint-15/elements/typography";
  @import "sprint-15/elements/tables";
  @import "sprint-15/elements/icons";
  @import "sprint-15/elements/aq-buttons";

  // Components
  @import "sprint-15/components/daqitag";
  @import "sprint-15/components/daqi";
  @import "sprint-15/components/toggletips";
  @import "sprint-15/components/aq-levels-table";
  @import "sprint-15/components/aq-tabs";
  @import "sprint-15/components/cards";
  @import "sprint-15/components/inset-text-colour";
  @import "sprint-15/components/aq-definition-list";
  @import "sprint-15/components/aq-levels-list";
  @import "sprint-15/components/aq-forecast";
  @import "sprint-15/components/gem-cards.scss";
  @import "sprint-15/components/notfication-banner.scss";
  @import "sprint-15/components/masthead";
  @import "sprint-15/components/aq-browse-section";
}

.sprint-16 {
  // Tools
  @import "sprint-16/tools/mixins";

  // Elements
  @import "sprint-16/elements/colour";
  @import "sprint-16/elements/layout";
  @import "sprint-16/elements/typography";
  @import "sprint-16/elements/tables";
  @import "sprint-16/elements/icons";
  @import "sprint-16/elements/aq-buttons";

  // Components
  @import "sprint-16/components/daqitag";
  @import "sprint-16/components/daqi";
  @import "sprint-16/components/toggletips";
  @import "sprint-16/components/aq-levels-table";
  @import "sprint-16/components/aq-tabs";
  @import "sprint-16/components/cards";
  @import "sprint-16/components/inset-text-colour";
  @import "sprint-16/components/aq-definition-list";
  @import "sprint-16/components/aq-levels-list";
  @import "sprint-16/components/aq-forecast";
  @import "sprint-16/components/gem-cards.scss";
  @import "sprint-16/components/notfication-banner.scss";
  @import "sprint-16/components/masthead";
  @import "sprint-16/components/aq-browse-section";
}

.sprint-21 {
  // Tools
  @import "sprint-21/tools/mixins";

  // Elements
  @import "sprint-21/elements/colour";
  @import "sprint-21/elements/layout";
  @import "sprint-21/elements/typography";
  @import "sprint-21/elements/tables";
  @import "sprint-21/elements/icons";
  @import "sprint-21/elements/aq-buttons";

  // Components
  @import "sprint-21/components/daqitag";
  @import "sprint-21/components/daqi";
  @import "sprint-21/components/toggletips";
  @import "sprint-21/components/aq-levels-table";
  @import "sprint-21/components/aq-tabs";
  @import "sprint-21/components/cards";
  @import "sprint-21/components/inset-text-colour";
  @import "sprint-21/components/aq-definition-list";
  @import "sprint-21/components/aq-levels-list";
  @import "sprint-21/components/aq-forecast";
  @import "sprint-21/components/gem-cards.scss";
  @import "sprint-21/components/notfication-banner.scss";
  @import "sprint-21/components/masthead";
  @import "sprint-21/components/aq-browse-section";
}

.sprint-22 {
  // Tools
  @import "sprint-22/tools/mixins";

  // Elements
  @import "sprint-22/elements/colour";
  @import "sprint-22/elements/layout";
  @import "sprint-22/elements/typography";
  @import "sprint-22/elements/tables";
  @import "sprint-22/elements/icons";
  @import "sprint-22/elements/aq-buttons";

  // Components
  @import "sprint-22/components/daqitag";
  @import "sprint-22/components/daqi";
  @import "sprint-22/components/toggletips";
  @import "sprint-22/components/aq-levels-table";
  @import "sprint-22/components/aq-tabs";
  @import "sprint-22/components/cards";
  @import "sprint-22/components/inset-text-colour";
  @import "sprint-22/components/aq-definition-list";
  @import "sprint-22/components/aq-levels-list";
  @import "sprint-22/components/aq-forecast";
  @import "sprint-22/components/gem-cards.scss";
  @import "sprint-22/components/notfication-banner.scss";
  @import "sprint-22/components/masthead";
  @import "sprint-22/components/aq-browse-section";
}

.sprint-23 {
  // Tools
  @import "sprint-23/tools/mixins";

  // Elements
  @import "sprint-23/elements/colour";
  @import "sprint-23/elements/layout";
  @import "sprint-23/elements/typography";
  @import "sprint-23/elements/tables";
  @import "sprint-23/elements/icons";
  @import "sprint-23/elements/aq-buttons";

  // Components
  @import "sprint-23/components/daqitag";
  @import "sprint-23/components/daqi";
  @import "sprint-23/components/toggletips";
  @import "sprint-23/components/aq-levels-table";
  @import "sprint-23/components/aq-tabs";
  @import "sprint-23/components/cards";
  @import "sprint-23/components/inset-text-colour";
  @import "sprint-23/components/aq-definition-list";
  @import "sprint-23/components/aq-levels-list";
  @import "sprint-23/components/aq-forecast";
  @import "sprint-23/components/gem-cards.scss";
  @import "sprint-23/components/notfication-banner.scss";
  @import "sprint-23/components/masthead";
  @import "sprint-23/components/aq-browse-section";
}

.sprint-24 {
  // Tools
  @import "sprint-24/tools/mixins";

  // Elements
  @import "sprint-24/elements/colour";
  @import "sprint-24/elements/layout";
  @import "sprint-24/elements/typography";
  @import "sprint-24/elements/tables";
  @import "sprint-24/elements/icons";
  @import "sprint-24/elements/aq-buttons";

  // Components
  @import "sprint-24/components/daqitag";
  @import "sprint-24/components/daqi";
  @import "sprint-24/components/toggletips";
  @import "sprint-24/components/aq-levels-table";
  @import "sprint-24/components/aq-tabs";
  @import "sprint-24/components/cards";
  @import "sprint-24/components/inset-text-colour";
  @import "sprint-24/components/aq-definition-list";
  @import "sprint-24/components/aq-levels-list";
  @import "sprint-24/components/aq-forecast";
  @import "sprint-24/components/gem-cards.scss";
  @import "sprint-24/components/notfication-banner.scss";
  @import "sprint-24/components/masthead";
  @import "sprint-24/components/aq-browse-section";
}

.sprint-25 {
  // Tools
  @import "sprint-25/tools/mixins";

  // Elements
  @import "sprint-25/elements/colour";
  @import "sprint-25/elements/layout";
  @import "sprint-25/elements/typography";
  @import "sprint-25/elements/tables";
  @import "sprint-25/elements/icons";
  @import "sprint-25/elements/aq-buttons";

  // Components
  @import "sprint-25/components/daqitag";
  @import "sprint-25/components/daqi";
  @import "sprint-25/components/toggletips";
  @import "sprint-25/components/aq-levels-table";
  @import "sprint-25/components/aq-tabs";
  @import "sprint-25/components/cards";
  @import "sprint-25/components/inset-text-colour";
  @import "sprint-25/components/aq-definition-list";
  @import "sprint-25/components/aq-levels-list";
  @import "sprint-25/components/aq-forecast";
  @import "sprint-25/components/gem-cards.scss";
  @import "sprint-25/components/notfication-banner.scss";
  @import "sprint-25/components/masthead";
  @import "sprint-25/components/aq-browse-section";
}

.sprint-27 {
  // Tools
  @import "sprint-27/tools/mixins";

  // Elements
  @import "sprint-27/elements/colour";
  @import "sprint-27/elements/layout";
  @import "sprint-27/elements/typography";
  @import "sprint-27/elements/tables";
  @import "sprint-27/elements/icons";
  @import "sprint-27/elements/aq-buttons";

  // Components
  @import "sprint-27/components/daqitag";
  @import "sprint-27/components/daqi";
  @import "sprint-27/components/toggletips";
  @import "sprint-27/components/aq-levels-table";
  @import "sprint-27/components/aq-tabs";
  @import "sprint-27/components/cards";
  @import "sprint-27/components/inset-text-colour";
  @import "sprint-27/components/aq-definition-list";
  @import "sprint-27/components/aq-levels-list";
  @import "sprint-27/components/aq-forecast";
  @import "sprint-27/components/gem-cards.scss";
  @import "sprint-27/components/notfication-banner.scss";
  @import "sprint-27/components/masthead";
  @import "sprint-27/components/aq-browse-section";

}

.sprint-28 {
  // Tools
  @import "sprint-28/tools/mixins";

  // Elements
  @import "sprint-28/elements/colour";
  @import "sprint-28/elements/layout";
  @import "sprint-28/elements/typography";
  @import "sprint-28/elements/tables";
  @import "sprint-28/elements/icons";
  @import "sprint-28/elements/aq-buttons";

  // Components
  @import "sprint-28/components/daqitag";
  @import "sprint-28/components/daqi";
  @import "sprint-28/components/toggletips";
  @import "sprint-28/components/aq-levels-table";
  @import "sprint-28/components/aq-tabs";
  @import "sprint-28/components/cards";
  @import "sprint-28/components/inset-text-colour";
  @import "sprint-28/components/aq-definition-list";
  @import "sprint-28/components/aq-levels-list";
  @import "sprint-28/components/aq-forecast";
  @import "sprint-28/components/gem-cards.scss";
  @import "sprint-28/components/notfication-banner.scss";
  @import "sprint-28/components/masthead";
  @import "sprint-28/components/aq-browse-section";

}

.sprint-29 {
  // Tools
  @import "sprint-29/tools/mixins";

  // Elements
  @import "sprint-29/elements/colour";
  @import "sprint-29/elements/layout";
  @import "sprint-29/elements/typography";
  @import "sprint-29/elements/tables";
  @import "sprint-29/elements/icons";
  @import "sprint-29/elements/aq-buttons";

  // Components
  @import "sprint-29/components/daqitag";
  @import "sprint-29/components/daqi";
  @import "sprint-29/components/toggletips";
  @import "sprint-29/components/aq-levels-table";
  @import "sprint-29/components/aq-tabs";
  @import "sprint-29/components/cards";
  @import "sprint-29/components/inset-text-colour";
  @import "sprint-29/components/aq-definition-list";
  @import "sprint-29/components/aq-levels-list";
  @import "sprint-29/components/aq-forecast";
  @import "sprint-29/components/gem-cards.scss";
  @import "sprint-29/components/notfication-banner.scss";
  @import "sprint-29/components/masthead";
  @import "sprint-29/components/aq-browse-section";

}


.version-2-1 {
  // Tools
  @import "version-2-1/tools/mixins";

  // Elements
  @import "version-2-1/elements/colour";
  @import "version-2-1/elements/layout";
  @import "version-2-1/elements/typography";
  @import "version-2-1/elements/tables";
  @import "version-2-1/elements/icons";
  @import "version-2-1/elements/aq-buttons";

  // Components
  @import "version-2-1/components/daqitag";
  @import "version-2-1/components/daqi";
  @import "version-2-1/components/toggletips";
  @import "version-2-1/components/aq-levels-table";
  @import "version-2-1/components/aq-tabs";
  @import "version-2-1/components/cards";
  @import "version-2-1/components/inset-text-colour";
  @import "version-2-1/components/aq-definition-list";
  @import "version-2-1/components/aq-levels-list";
  @import "version-2-1/components/aq-forecast";
  @import "version-2-1/components/gem-cards.scss";
  @import "version-2-1/components/notfication-banner.scss";
  @import "version-2-1/components/masthead";
  @import "version-2-1/components/aq-browse-section";

}



// alerts - active and expired
.active-breach {
  border:  5px	solid #d4351c;
  padding: 50px;
}

.alert-banner {
  border-color: #d4351c;
  background-color: #d4351c;
}

.sandbox {
  // Tools
  @import "sandbox/tools/mixins";

  // Elements
  @import "sandbox/elements/colour";
  @import "sandbox/elements/layout";
  @import "sandbox/elements/typography";
  @import "sandbox/elements/tables";
  @import "sandbox/elements/icons";
  @import "sandbox/elements/aq-buttons";

  // Components
  @import "sandbox/components/daqitag";
  @import "sandbox/components/daqi";
  @import "sandbox/components/toggletips";
  @import "sandbox/components/aq-levels-table";
  @import "sandbox/components/aq-tabs";
  @import "sandbox/components/cards";
  @import "sandbox/components/inset-text-colour";
  @import "sandbox/components/aq-definition-list";
  @import "sandbox/components/aq-levels-list";
  @import "sandbox/components/aq-forecast";
  @import "sandbox/components/gem-cards.scss";
  @import "sandbox/components/notfication-banner.scss";
  @import "sandbox/components/masthead";
  @import "sandbox/components/aq-browse-section";
}

//UR links on location page
.app-contact-panel {
	margin-top: 40px;
	padding-top: 15px;
	border-top: 2px solid #1d70b8;
  background-color: #f5f5f5;
}

.proto-dev {
  // Tools
  @import "proto-dev/tools/mixins";

  // Elements
  @import "proto-dev/elements/colour";
  @import "proto-dev/elements/layout";
  @import "proto-dev/elements/typography";
  @import "proto-dev/elements/tables";
  @import "proto-dev/elements/icons";
  @import "proto-dev/elements/aq-buttons";

  // Components
  @import "proto-dev/components/daqitag";
  @import "proto-dev/components/daqi";
  @import "proto-dev/components/toggletips";
  @import "proto-dev/components/aq-levels-table";
  @import "proto-dev/components/aq-tabs";
  @import "proto-dev/components/cards";
  @import "proto-dev/components/inset-text-colour";
  @import "proto-dev/components/aq-definition-list";
  @import "proto-dev/components/aq-levels-list";
  @import "proto-dev/components/aq-forecast";
  @import "proto-dev/components/gem-cards.scss";
  @import "proto-dev/components/notfication-banner.scss";
  @import "proto-dev/components/masthead";
  @import "proto-dev/components/aq-browse-section";
  @import "proto-dev/components/language-toggle";
}

.private-beta-fixes {
// Tools
@import "private-beta-fixes/tools/mixins";

// Elements
@import "private-beta-fixes/elements/colour";
@import "private-beta-fixes/elements/layout";
@import "private-beta-fixes/elements/typography";
@import "private-beta-fixes/elements/tables";

// Components
@import "private-beta-fixes/components/daqitag";
@import "private-beta-fixes/components/daqi";
@import "private-beta-fixes/components/toggletips";
@import "private-beta-fixes/components/aq-levels-table";
@import "private-beta-fixes/components/aq-tabs";
@import "private-beta-fixes/components/cards";
@import "private-beta-fixes/components/inset-text-colour";
@import "private-beta-fixes/components/aq-definition-list";
@import "private-beta-fixes/components/aq-forecast";

}


// Tools
@import "tools/mixins";

// Elements
@import "elements/colour";
@import "elements/layout";
@import "elements/typography";
@import "elements/tables";

// Components
@import "components/daqitag";
@import "components/daqitable";
@import "components/toggletips";
@import "components/aq-levels-table";
@import "components/aq-tabs";
@import "components/cards";
@import "components/inset-text-colour";
@import "components/aq-definition-list";
@import "components/aq-forecast";


// Email layout
@import "email/email"

