<!--{% extends "layouts/main.html" %}-->
{% extends "layouts/version-2-2.html" %}
{% set caption = "" %}
{% set title = "Actions you can take to reduce your exposure to air pollution" %}

{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}

{% block beforeContent %}
{{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'This is a prototype and not a live service.'
    }) }}
    
  {{ govukBackLink({
  text: "Air quality in " + locationName,
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-until-desktop govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        {{ title | safe }}</h1>

      <p>There is no safe level of air pollution, but there are actions you can take to reduce your exposure.</p>
      <p>You should try to reduce your exposure to air pollution where you can, even when levels are low. Long term exposure to air pollution (over years) can lead to <a href="health-effects.html">many different health conditions and reduce life expectancy</a>.</p>


      <!------ URBAN ------>
      <h2 class="govuk-heading-s">Urban areas</h2>

      <p>Urban areas have more than 10,000 residents, for example a large town or a city.</p>

      <p>Consider the following actions if you live or work in an urban area:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you need to walk next to a busy road, keep as far from the edge of the road as you can – putting even a short distance between yourself and the source of pollution reduces the amount of pollution you breathe in</li>
        <li>avoid driving in heavy traffic – sitting in traffic can expose you to high levels of pollution</li>
        <li>check pollution forecasts to help you plan outdoor activities</li>
      </ul>

      <div class="govuk-!-padding-bottom-5"></div>


      <!------ RURAL ------>
      <h2 class="govuk-heading-s">Rural areas</h2>

      <p>Rural areas have less than 10,000 residents, for example a village, hamlet or small town.</p>
      <p>Some pollutants are often higher in the countryside, such as ozone.</p>

      <p>Consider the following actions if you live or work in a rural area:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>check for agricultural activities and plan to avoid them – ploughing fields, spreading fertilisers, and spraying pesticides can all increase air pollution levels</li>
          <li>avoid bonfires and burning garden waste</li>
          <li>check pollution forecasts – pollution can travel long distances and you cannot always see the sources</li>
      </ul>

      <div class="govuk-!-padding-bottom-5"></div>


      <!------------------------ OUTDOOR ------>
      <h2 class="govuk-heading-m">All outdoor areas</h2>

      <p>Consider the following actions in any area:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>take routes where there is less traffic, especially at busy times of day</li>
        <li>commute, walk or exercise in parks or other green spaces, if you are not affected by pollen</li>
      </ul>


      <!----------------------------------- INDOOR ------>

      <h2 class="govuk-heading-m">Indoor air pollution</h2>

      <p>The air quality indoors is not always better than outdoors.</p>

      <p>Consider the following actions to improve your indoor air quality: </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>avoid smoking or vaping indoors</li>
          <li>ventilate when cooking, showering, bathing and washing and drying laundry – for example, use an extractor fan or open windows</li>
          <li>avoid burning on a stove or open fire if you can </li>
          <li>if you exercise indoors, make sure the room is well ventilated</li>
          <li>check labels on cleaning products, aerosols and paints – look for products labelled as low emission or “low VOC”</li>

      </ul>
      <p>If you need to use cleaning products, aerosols and paints indoors, follow the manufacturer's instructions and use them in a ventilated area.</p>


      <!-------------------------------------- REDUCE ------>

      <h2 class="govuk-heading-m">Reduce your contribution to air pollution</h2>

      <p>Consider the following actions to reduce your air pollution:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>walk, cycle and use public transport more frequently</li>
          <li>drive less, and when you do drive, drive smarter – car share if you can, turn your engine off when you’re not moving, and keep your vehicle well maintained</li>
          <li>consider switching to a hybrid or electric vehicle</li>
          <li>compost or take garden waste to a refuse centre rather than burning it</li>
          <li>avoid unnecessary burning at home – for example, using a wood burner or open fire</li>
          <li>if you need to burn wood or other fuel for heating, make sure you use <a href="https://www.readytoburn.org/">Ready to Burn</a> fuels and keep your appliances clean and maintained</li>
      </ul>

      <div class="govuk-!-padding-bottom-8"></div>

    </div>


<!-- RELATED CONTENT -->
<div class="govuk-grid-column-full-until-desktop govuk-grid-column-one-third-from-desktop">
      
    {{ xGovukRelatedNavigation({
      sections: [{
          items: [{
              text: "Health effects of air pollution",
              href: "/" + version + "/health-effects?locationName=" + locationName
          },
          {
            text: "Air pollution breaches",
            href: "/" + version + "/alerts?locationName=" + locationName
          }
          ]
      }]
  }) }}
  
  </div>
  <!-- END RELATED CONTENT -->

  </div>
{% endblock %}
