{% extends "layouts/version-2-2.html" %}
{% set displayBacklink = true %}

{% from "/" + folder + "/components/toggletip/macro.njk" import toggletip %}
{% from "/" + folder + "/components/aq-levels-table/macro.njk" import aqLevelsTable %}
{% from "/" + folder + "/components/aq-tabs/macro.njk" import aqTabs %}
{% from  "/" + folder + "/components/search/macro.njk" import appSearch %}
{% from  "/" + folder + "/components/pollutant-levels/macro.njk" import appPollutantLevels %}

{% set caption = "" %}

{% set title = "Air pollution in " + "TN15 8RG, Borough Green" %} <!-- PASTE POSTCODE AND LOCATION FROM HEROKU -->

{% set servicePage = true %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}
{% set highestAQDetails = {'readableBand': 'moderate'} %}

{% set day2 = 1 | addDaysToTodayAbrev %}
{% set day3 = 2 | addDaysToTodayAbrev %}
{% set day4 = 3 | addDaysToTodayAbrev %}
{% set day5 = 4 | addDaysToTodayAbrev %}

{% block pageScripts %}
  <script src="/public/javascripts/toggletips.js"></script>
{% endblock %}

{% block content %}
<div class="govuk-grid-row" data-module="edge">
  <div class="govuk-grid-column-full-until-desktop govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-9">
    
    <h1 class="govuk-heading-{{ pageHeadingSize }}">
        {{ title }}      

    <h2 class="govuk-heading-m">Predicted air pollution levels</h2>

    <!---------- TABBED FORECAST ---------->

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>

        <!-- tabs -->

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#today">
              Today
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#day2">
              {{ day2 }}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#day3">
              {{ day3 }}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#day4">
              {{ day4 }}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#day5">
              {{ day5 }}
            </a>
          </li>
        </ul>

        <!-- panels -->

        <div class="govuk-tabs__panel" id="today">
          <h2 class="govuk-heading-m">Today</h2>

          {% include "/" + folder + "/includes/daqi-mod.html" %}

          <p class="govuk-!-margin-top-6">Levels of air pollution are moderate today for many areas of the UK due to warmer temperatures and low winds.</p>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day2">
          <h2 class="govuk-heading-m">Friday</h2>

          {% include "/" + folder + "/includes/daqi-mod-day2.html" %}

          <p class="govuk-!-margin-top-6">The current warm temperatures will continue, causing air pollution levels to remain at moderate across many areas</p>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day3">
          <h2 class="govuk-heading-m">Saturday</h2>

          {% include "/" + folder + "/includes/daqi-mod-day3.html" %}

          <p class="govuk-!-margin-top-6">Warm temperatures will continue and being to reduce later in the week, are pollution levels should remain at moderate</p>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day4">
          <h2 class="govuk-heading-m">Sunday</h2>

          {% include "/" + folder + "/includes/daqi-mod-day4.html" %}

          <p class="govuk-!-margin-top-6">Warm temperatures will continue and being to reduce later in the week, are pollution levels should remain at moderate</p>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day5">
          <h2 class="govuk-heading-m">Monday</h2>

          {% include "/" + folder + "/includes/daqi-mod-day5.html" %}

          <p class="govuk-!-margin-top-6">Warm temperatures will continue and being to reduce later in the week, are pollution levels should remain at moderate</p>
        
        </div>

        <p class="govuk-caption-s govuk-!-margin-top-4">Last updated today at 5am</p>

      </div>

    <!---------- END TABS ------------>

    <!--------- PAGE SECTIONS -------->
    <div class="govuk-!-padding-bottom-4"></div> <!-- <<< SPACER -->

    {% include "/" + folder + "/includes/monitoring-sites.html" %}

    <div class="govuk-!-padding-bottom-4"></div> <!-- <<< SPACER -->

    {% include "/" + folder + "/includes/reduce-your-exposure-moderate.html" %}

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
    {% include "/" + folder + "/includes/health-advice-moderate.html" %}

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
    {% include "/" + folder + "/includes/air-quality-alerts.html" %}

  </div>
  

  <!-- RELATED CONTENT -->
  <div class="govuk-grid-column-full-until-desktop govuk-grid-column-one-third-from-desktop">
      
    {{ xGovukRelatedNavigation({
      sections: [{
          items: [{
              text: "Health effects of air pollution",
              href: "/" + version + "/health-effects?locationName=" + locationName
          },
          {
            text: "Actions to reduce your exposure to air pollution",
            href: "/" + version + "/actions?locationName=" + locationName
          },
          {
            text: "Air pollution breaches",
            href: "/" + version + "/alerts?locationName=" + locationName
          }
          ]
      }]
  }) }}
  
  </div>
  <!-- END RELATED CONTENT -->

</div>
{% endblock %}


