{% extends "layouts/version-2-1.html" %}
{% set showAnotherService = true %}
{% set anotherServiceName = "Check air quality" %}


{% block pageTitle %}
Check your email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype " + version
  },
  html: 'This is a prototype and is not a live service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Request a new activation code</h1>
      <p class="govuk-body">
        Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can request a new one.</strong>
      </p>

  <div class="govuk-!-padding-bottom-5"></div>
      

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Change where the text is sent
      </span>
    </summary>
    <div class="govuk-details__text">
        <label class="govuk-label" for="event-name">
        Mobile number
        </label>
        <input class="govuk-input govuk-input govuk-input--width-20" id="mobile-number-new" name="MobileNumberNew" type="text">
    </div>
    
  </details>

      {{ govukButton({
        text: "Request a new code",
        href: "/" + version + "/sign-up-for-alerts/check-your-messages"
      }) }}

  </div>
</div>

{% endblock %}