.x-govuk-masthead {
    background-color: #263135;
    padding-bottom: govuk-spacing(9);
    margin-bottom: govuk-spacing(2);
}

.x-govuk-breadcrumbs--inverse {
    border-bottom: 0;
    padding-top: govuk-spacing(5);
}

.x-govuk-masthead__title {
    padding-top: govuk-spacing(3);
}
