<h2 class="govuk-heading-m">Air pollutants monitored nearby</h2>
<p class="govuk-!-margin-bottom-6">Readings are measured every hour. The unit µg/m<sup>3</sup> stands for micrograms (one millionth of a gram) per cubic metre of air.</p>

<!-- TABS -->
{% set tabItems = [] %} 
{% for site in monitoringSites %}
  {% set rows = [] %}
  {% for pollutant in site.pollutants %}
    {% set pollutantDetail = pollutantTypes[pollutant.type] %}
    {% set urlString = "?locationName=" + locationName + parentArea %}
    {% set row = [
        { 
            html: "<a class='govuk-!-margin-bottom-1' href='/" + version + pollutantDetail.href + urlString + "'>" + pollutantDetail.title + "</a><span class='govuk-caption-s govuk-!-margin-bottom-1'>Low range " ~ pollutantDetail.low_range ~  "</span>",
            classes: "align-middle" 
        },
        { 
            html: (pollutant.measurement | int) + "<span class='govuk-!-font-size-16 govuk-!-font-weight-regular'> μg/m<sup>3</sup></span>",
            classes: "align-middle" 
        },
        { 
            html: "<strong class='daqi-tag daqi-tag--" ~ (pollutant.aqi if pollutant.aqi else "default-aqi-value") ~ "'>" + pollutant.band + "</strong>",
            classes: "align-middle" 
        }
    ] %}
    {% set _ = rows.push(row) %}
{% endfor %} <!-- END TABS -->

  {% set panelHtml %}
    <h3 class="defra-aq-site__title govuk-heading-s">{{ site.site_name }}</h3>
    <p class="defra-aq-site__distance govuk-caption-m govuk-!-margin-bottom-3">{{ site.distance }} miles away</p>
    <p>{{ siteTypeDescriptions[site.site_type] }}</p>
    {{ govukTable({
        classes: "govuk-!-margin-bottom-2",
        firstCellIsHeader: false,
        head: [
          { text: "Pollutant" },
          { text: "Latest" },
          { text: "Level" }
        ],
        rows: rows
    }) }}
    <p class='govuk-caption-s govuk-!-margin-bottom-8'>Latest measurement {{ "now" | date | minusOneHour | lower }} on {{ "today" | govukDate }}</p>
  {% endset %}

  {% set tabItem = {
    classes: "govuk-tabs__list-item--sites",
    label: site.site_name | truncate(15),
    status: "<span class='defra-aq-tabs__label-distance'>" ~ site.distance ~ " miles away</span>",
    id: site.site_id,
    panel: {
      html: panelHtml
    }
  } %}

  {% set _ = tabItems.push(tabItem) %}
{% endfor %}

{{ aqTabs({
  classes: "defra-aq-tabs",
  items: tabItems
}) }}

