<h2 class="govuk-heading-m">What makes up air pollution</h2>

<p>The air pollutants thought to have the greatest health and environmental impacts are:</p>
<ul class="govuk-list govuk-list--bullet">
  {% set pollutants = [
      { "name": "Particulate matter (PM2.5)", "href": "pollutants/particulate-matter2" },
      { "name": "Particulate matter (PM10)", "href": "pollutants/particulate-matter10" },
      { "name": "Nitrogen dioxide (NO2)", "href": "pollutants/nitrogen-dioxide" },
      { "name": "Ozone (O3)", "href": "pollutants/ozone" },
      { "name": "Sulphur dioxide (SO2)", "href": "pollutants/sulphur-dioxide" }
  ] %}
  {% for pollutant in pollutants %}
    <li>
      <a class="govuk-link" href="/{{ version }}/{{ pollutant.href }}?locationName={{ locationName }}&parentArea={{ parentArea }}">{{ pollutant.name }}</a>
    </li>
  {% endfor %}
</ul>
<p class="govuk-!-margin-bottom-6">
  Air pollution is present in all areas of the UK and can impact our 
  <a class="govuk-link" href="/{{ version }}/health-effects?locationName={{ locationName }}&parentArea={{ parentArea }}">
    short and long term health
  </a>.
</p>