{% extends "layouts/email-layout-21.html" %}
{% block content %}
          <h1 class="govuk-heading-m">High levels of air pollution are forecast in the next 5 days for {{ locationName }}, {{ parentArea }} for further advice go to <a href="/{{ version }}/location-high?locationName={{ locationName }}&parentArea={{ parentArea }}">check-air-quality.service.gov.uk/forecast</a>.</h1>
          <p class="govuk-body">
            <a href="#">Unsubscribe</a>
          </p>
          <p class="govuk-body">
            <a href="#">Make changes to your air quality alerts</a>
          </p>
{% endblock %}
