<h2 class="govuk-heading-m">How air pollutants can affect your health</h2>
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Particulate matter (PM)</h3>
<p>Particulate matter are tiny pieces of solid or liquid particles suspended in the air. They come from sources like car tyres, brakes, exhausts, dust, wood burning and pollen.</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/{{ version }}/pollutants/particulate-matter2">PM 2.5</a>
  </li>
  <li>
    <a class="govuk-link" href="/{{ version }}/pollutants/particulate-matter10">PM 10</a>
  </li>
</ul>
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Gases</h3>
<p>Produced by burning fossil fuels. For example, in cars, power stations and factories.</p>
<ul class="govuk-list govuk-!-margin-bottom-6">
  <li>
    <a class="govuk-link" href="/{{ version }}/pollutants/nitrogen-dioxide">Nitrogen dioxide</a>
  </li>
  <li>
    <a class="govuk-link" href="/{{ version }}/pollutants/ozone">Ozone</a>
  </li>
  <li>
    <a class="govuk-link" href="/{{ version }}/pollutants/sulphur-dioxide">Sulphur dioxide</a>
  </li>
</ul>