{% set day2 = 1 | addDaysToTodayFull %}
{% set day3 = 2 | addDaysToTodayFull %}
{% set day4 = 3 | addDaysToTodayFull %}
{% set day5 = 4 | addDaysToTodayFull %}


<h2 class="govuk-heading-m  govuk-!-margin-bottom-4">UK forecast</h2>
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Today</h3>
<p>{{ airQuality.today.ukToday }}</p>
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ day2 }}</h3>
<p>{{ airQuality.today.ukTomorrow }}</p>
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ day3 }} to {{ day5 }}</h3>
<p class="govuk-!-margin-bottom-6">{{ airQuality.today.ukOutlook }}</p>
