<h2 class="govuk-heading-m">Air quality in this area</h2>
<p>{{ result.GAZETTEER_ENTRY.NAME1 }} is within {% if result.GAZETTEER_ENTRY.COUNTY_UNITARY %}
  the local authority of
  {{ result.GAZETTEER_ENTRY.COUNTY_UNITARY }}.
{% else %}
  the local authority of
  {{ result.GAZETTEER_ENTRY.DISTRICT_BOROUGH }}.
{% endif %}
{% if result.localType == "hamlet" or result.localType == "village" %}
  It's classed as a rural location because it has a population below 10,000.</p><p>Rural areas are often thought to have clean air, but in {{ result.GAZETTEER_ENTRY.NAME1 }} during 2023, the main air pollutant was <a href="/{{ version }}/pollutants/ozone">ozone</a>.</p>
{% else %}
  It's classed as an urban location because it has a population above 10,000.</p><p>Urban locations can be affected by air pollution from transport, industry or household heating. The main pollutant measured in {{ result.GAZETTEER_ENTRY.NAME1 }} during 2023 was <a href="/{{ version }}/pollutants/ozone">ozone</a>.</p>
{% endif %}
<p>
  Ground level ozone is created when sunlight reacts with pollutants from agriculture, cars, factories, and other sources. Unlike the ozone layer high up in the atmosphere, ground-level ozone can be harmful to breathe and can cause problems for people, especially those with asthma or other lung conditions.
</p>
<p>
  The long term health effects of air pollution can include heart issues, cancer and an increase in respiratory illnesses.
</p>
<p class="govuk-!-margin-bottom-6">
  <a href="/{{ version }}/health-effects">Find out more about the health effects of air pollution.</a>
</p> 
