<h2 class="govuk-heading-m">Air quality in this area</h2>
<p>{{ result.GAZETTEER_ENTRY.NAME1 }} is within {% if result.GAZETTEER_ENTRY.COUNTY_UNITARY %}
  the local authority of
  {{ result.GAZETTEER_ENTRY.COUNTY_UNITARY }}.
{% else %}
  the local authority of
  {{ result.GAZETTEER_ENTRY.DISTRICT_BOROUGH }}.
{% endif %}
{% if result.localType == "hamlet" or result.localType == "village" %}
  It's classed as a rural location because it has a population below 10,000.</p><p>Whilst rural locations are percieved as areas of low air pollution
{% else %}
  It's classed as an urban location because it has a population above 10,000.</p><p>Whilst urban locations can be affected by air pollution from transport or household heating
{% endif %}
the main pollutant measured in {{ result.GAZETTEER_ENTRY.NAME1 }} during 2023 was <a href="/{{ version }}/pollutants/ozone">ozone</a>.
</p>
<p>
  There are no major emission sources of ground level ozone itself. Reactions between other pollutants form ozone in the air. For example, when pollutants from vehicle emissions and industry react with sunlight.
</p>
<p>
  The long term health effects of ground level ozone can include heart issues, cancer and an increase in respiratory illnesses.
</p>
<p class="govuk-!-margin-bottom-6">
  <a href="/{{ version }}/health-effects">Find out more about the health effects of air pollution.</a>
</p> 
