<h2 class="govuk-heading-m">Historical air quality in {{ result.GAZETTEER_ENTRY.NAME1 }} in 2023</h2>
<p>
  In {{ result.GAZETTEER_ENTRY.NAME1 }} during 2023, the main air pollutant was <a href="/{{ version }}/air-pollutants-we-measure#ozone">ozone</a>.
</p>
<p>
Ground level ozone is created when sunlight reacts with pollutants from sources like agriculture, cars and factories.
</p>
<p>
It can be harmful to breathe and can cause problems for people with asthma or other lung conditions. 
</p>
<p class="govuk-!-margin-bottom-6">
  <a href="/{{ version }}/health-effects">Find out more about the health effects of air pollution</a>
</p> 
