

{% set daqiValue = airQuality.value %}

<h2 id="air-pollution-forecast-today" class="govuk-heading-m govuk-!-margin-bottom-4">
  The air pollution forecast for today<span class="govuk-visually-hidden"> on a scale of low to very high</span> is {{ airQuality.readableBand }}
  <span class="govuk-visually-hidden">, {{ airQuality.value }} out of 10</span>
</h2>

<div class="daqi-scale govuk-!-margin-bottom-7" role="img" aria-describedby="air-pollution-forecast-today" aria-hidden="true">
  <div class="daqi-bar">
    {% for i in range(1, 11) %}
        <div class="daqi-bar-segment {% if i == daqiValue %}daqi-selected daqi-{{ daqiValue }}{% else %}daqi-0{% endif %}">{{ i }}</div>
    {% endfor %}
  </div>
  <div class="daqi-labels">
    <span class="daqi-band">Low</span>
    <span class="daqi-band">Moderate</span>
    <span class="daqi-band">High</span>
    <span class="daqi-band">Very high</span>
  </div>
</div>
