    {% set fixedStartIndex = dataPoints.length - 6 %}  
    {% for point in dataPoints %}
    {% set cy = 30 + (chartHeight - 30) * (point.value / scaleMax) %}
    <rect class="chart__hover" x="{{ loop.index0 * 24.75 }}" y="0" width="24.75" height="100%" />
    <g class="chart__data">
      <line class="selected_line" x1="{{ 12.375 + loop.index0 * 24.75 }}" y1="30" x2="{{ 12.375 + loop.index0 * 24.75 }}" y2="180" />
      {% if loop.index0 >= fixedStartIndex %}
        <!-- Fixed tooltip for the last 6 data points -->
        <g class="tooltip" transform="translate({{ 5 + fixedStartIndex * 24.75 }}, 115)">
      {% else %}
        <!-- Dynamic tooltip position for other points -->
        <g class="tooltip" transform="translate({{ 5 + loop.index0 * 24.75 }}, 115)">
      {% endif %}
        <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
        <text x="15" y="-41" class="tooltip-text__strong" transform="scale(1, -1)">{{ point.value }} μg/㎥</text>
        <text x="15" y="-18" class="tooltip-text" transform="scale(1, -1)">{{ "now" | date("Y-m-d") | minusHours(24 - loop.index0) }}</text>
      </g>
      <circle cx="{{ 12.375 + loop.index0 * 24.75 }}" cy="{{ cy }}" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
    </g>
    {% endfor %}
