<!--{% extends "layouts/main.html" %}-->
{% extends "layouts/sprint-27.html" %}
{% set caption = "" %}
{% set title = "How air quality information is measured" %}

{% block beforeContent %}

{{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'This is a prototype and not a live service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

  {{ govukBackLink({
  text: "Air quality in " + locationName,
  href: "javascript:window.history.back()"
}) }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-until-desktop govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        {{ title | safe }}</h1>
  
      <p>The air quality information you’ll find on this Check air quality service is either a daily forecast or hourly information measured from monitoring stations around the UK.</p>
      <p>The forecasts and monitoring station data use the Daily Air Quality Index (DAQI) that is designed to show complex air quality information on a simple 10-point scale.</p>
      <p>The air quality information on this service is based on 5 pollutants that can have an impact on your health:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li><a href="/{{ version }}/pollutants/ozone?locationName={{ locationName }}&parentArea={{ parentArea }}">ozone</a></li>
          <li><a href="/{{ version }}/pollutants/nitrogen-dioxide?locationName={{ locationName }}&parentArea={{ parentArea }}">nitrogen dioxide</a></li>
          <li><a href="/{{ version }}/pollutants/sulphur-dioxide?locationName={{ locationName }}&parentArea={{ parentArea }}">sulphur dioxide</a></li>
          <li><a href="/{{ version }}/pollutants/particulate-matter2?locationName={{ locationName }}&parentArea={{ parentArea }}">PM2.5</a></li>
          <li><a href="/{{ version }}/pollutants/particulate-matter10?locationName={{ locationName }}&parentArea={{ parentArea }}">PM10</a></li>
      </ul>

      <div class="govuk-!-padding-bottom-6"></div>

      <!-- DAQI -->
      <h2 class="govuk-heading-s">
        The Daily Air Quality Index (DAQI) 
      </h2>

      <p>The DAQI is a scale that has been designed to help people understand the short-term risk of air pollution.</p>
      <p>The DAQI communicates pollution levels using words, numbers and colours: </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>low pollution (levels 1, 2 and 3), shown in green </li>
          <li>moderate pollution (levels 4, 5 and 6), shown in yellow</li>
          <li>high pollution (levels 7, 8 and 9), shown in red </li>
          <li>very high pollution (level 10), shown in purple</li>
      </ul>

      <p>Each DAQI level has health advice for the public, as well as information for people with health conditions that might make them more sensitive to air pollution.</p>
      <p>Find out some actions you can take to reduce your exposure to air pollution.</p>


     <div class="govuk-!-padding-bottom-6"></div>

      <!-- FORECAST -->
      <h2 class="govuk-heading-s">
        Forecast information 
      </h2>
      
      <p>The Met Office supplies a daily air quality forecast for Defra.</p>
      <p>The forecast is updated every morning for today, tomorrow and the next 3 days.</p>
      <p>Today's forecast runs from the morning until midnight. The forecast for tomorrow and subsequent days are valid for 24-hour periods from midnight to midnight.</p>
      <p>These provide an outlook of likely future pollution levels. As with weather forecasts, air quality forecasts are more uncertain for longer forecast periods. </p>
      <p>By searching for your postcode you can see air quality forecasts for the locations you're most interested in.</p>
      <p>The forecast is improved by incorporating recent observations of air quality from across the UK from the Automatic Urban and Rural Network (AURN).</p>

    <div class="govuk-!-padding-bottom-6"></div>

      <!-- MONITORING STATIONS -->
      <h2 class="govuk-heading-s">
        Hourly information from monitoring stations  
      </h2>
      
      <p>The Automatic Urban and Rural Network (AURN) is the UK's largest automatic monitoring network.</p>
      <p>It includes automatic air quality monitoring stations that provide high resolution hourly information that is communicated rapidly to the public, using a wide range of electronic, media and web platforms.</p>
      <p>There are approximately 200 AURN rural and urban monitoring station locations across the UK.</p>
      <p>You might have a monitoring station nearby. There could be several in your region. There might not be any monitoring stations close to you.</p>
      <p>Stations are positioned in the network so that monitoring is representative of the region it is in. This means monitoring stations in your region can be good indicators of the pollution level in your area, even if they seem far away.</p>
      <p>The Check air quality service will display monitoring stations relevant to the location or postcode you enter.</p>


  </div>

    <!-- RELATED CONTENT -->
    <div class="govuk-grid-column-full-until-desktop govuk-grid-column-one-third-from-desktop">
      
      {{ xGovukRelatedNavigation({
        sections: [{
            items: [

            {
              text: "Actions to reduce your exposure to air pollution",
              href: "/" + version + "/reduce-exposure?locationName=" + locationName
            },
            {
                text: "Health advice for air pollution levels",
                href: "/" + version + "/health-advice-levels?locationName=" + locationName
            },
            {
              text: "Access air quality alerts",
              href: "/" + version + "/sign-up-for-alerts/setup-or-manage?locationName=" + locationName
            }
            ]
        }]
    }) }}
    
    </div>
    <!-- END RELATED CONTENT -->
     
  </div>
{% endblock %}
