{% extends "layouts/sprint-27.html" %}
{% set displayBacklink = true %}

{% from "/" + folder + "/components/toggletip/macro.njk" import toggletip %}
{% from "/" + folder + "/components/aq-levels-table/macro.njk" import aqLevelsTable %}
{% from "/" + folder + "/components/aq-tabs/macro.njk" import aqTabs %}
{% from  "/" + folder + "/components/search/macro.njk" import appSearch %}
{% from  "/" + folder + "/components/pollutant-levels/macro.njk" import appPollutantLevels %}

{% set caption = "" %}
{% macro getParentArea(result) %}
  {% if result.GAZETTEER_ENTRY.LOCAL_TYPE == 'Postcode' %}
    {{ result.populatedPlace | default("", true) | trim | safe }}
  {% else %}
    {{ (result.GAZETTEER_ENTRY.DISTRICT_BOROUGH if result.GAZETTEER_ENTRY.DISTRICT_BOROUGH else result.GAZETTEER_ENTRY.COUNTY_UNITARY) | default("", true) | trim | safe }}
  {% endif %}
{% endmacro %}

{% set locationName = result.GAZETTEER_ENTRY.NAME1 | default("", true) | trim | safe %}
{% set parentArea = getParentArea(result) %}
{% set title = "Air quality in " ~ locationName ~ (", " ~ parentArea if parentArea else "") %}
{% set servicePage = true %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}

{% set day2 = 1 | addDaysToTodayAbrev %}
{% set day3 = 2 | addDaysToTodayAbrev %}
{% set day4 = 3 | addDaysToTodayAbrev %}
{% set day5 = 4 | addDaysToTodayAbrev %}

{% block pageScripts %}
  <script src="/public/javascripts/toggletips.js"></script>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row" data-module="edge">
    <div class="govuk-grid-column-full-until-desktop govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-{{ pageHeadingSize }}">
          {{ title }}  
          
      <h2 class="govuk-heading-m">Forecasted air pollution levels</h2>
    
      <!---------- TABBED FORECAST ---------->

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>

        <!-- tabs -->

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#today">
              Today
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tues">
              {{ day2 }}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#wed">
              {{ day3 }}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#thurs">
              {{ day4 }}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#fri">
              {{ day5 }}
            </a>
          </li>
        </ul>

        <!-- panels -->

        <div class="govuk-tabs__panel" id="today">
          {% include "/" + folder + "/includes/daqi.html" %}
          <a href="/{{ version }}/how-aq-measured?locationName={{ locationName }}&parentArea={{ parentArea }}">How air quality information is measured</a>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tues">
          {% include "/" + folder + "/includes/daqi-day2.html" %}
          <a href="/{{ version }}/how-aq-measured?locationName={{ locationName }}&parentArea={{ parentArea }}">How air quality information is measured</a>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="wed">
          {% include "/" + folder + "/includes/daqi-day3.html" %}
          <a href="/{{ version }}/how-aq-measured.html">How air quality information is measured</a>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="thurs">
          {% include "/" + folder + "/includes/daqi-day4.html" %}
          <a href="/{{ version }}/how-aq-measured.html">How air quality information is measured</a>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="fri">
          {% include "/" + folder + "/includes/daqi-day5.html" %}
          <a href="/{{ version }}/how-aq-measured.html">How air quality information is measured</a>
        </div>

      </div>

      <!---------- END TABS ------------>

      {% include "/" + folder + "/includes/uk-forecast.html" %}

      <p class="govuk-caption-s govuk-!-margin-bottom-2">Latest forecast at 5am on {{ "today" | govukDate }}</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      {% include "/" + folder + "/includes/air-quality-alerts.html" %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      {% include "/" + folder + "/includes/reduce-your-exposure.html" %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      {% include "/" + folder + "/includes/health-advice.html" %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      
      {% include "/" + folder + "/includes/pollutants.html" %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      {% include "/" + folder + "/includes/monitoring-sites.html" %}

      <div class="govuk-!-padding-bottom-9"></div>

     
    
    </div>


  <!-- RELATED CONTENT -->
  <div class="govuk-grid-column-full-until-desktop govuk-grid-column-one-third-from-desktop">
      
    {{ xGovukRelatedNavigation({
      sections: [{
          items: [{
              text: "Health effects of air pollution",
              href: "/" + version + "/health-effects?locationName=" + locationName
          },
          {
            text: "Actions to reduce your exposure to air pollution",
            href: "/" + version + "/reduce-exposure?locationName=" + locationName
          },
          {
              text: "Health advice for air pollution levels",
              href: "/" + version + "/health-advice-levels?locationName=" + locationName
          },
          {
            text: "Air quality alerts",
            href: "/" + version + "/alerts?locationName=" + locationName
          }
          ]
      }]
  }) }}
  
  </div>
  <!-- END RELATED CONTENT -->

</div>

<!-- UR SCENARIO LINKS (to test different versions of the location page )
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full app-contact-panel govuk-!-margin-bottom-6" >
    <h3 class="govuk-heading-s">User research scenarios</h3>
      <span class="govuk-body-s"><a class="govuk-link" href="/{{ version }}/location-high?locationName={{ locationName }}&parentArea={{ parentArea }}">Research scenario 1</a>     </span>
      <span class="govuk-body-s"><a class="govuk-link" href="/{{ version }}/location-veryhigh?locationName={{ locationName }}&parentArea={{ parentArea }}">Research scenario 2</a></span>
  </div>
</div>
<!--END UR LINKS -->

{% endblock %}