<h2 class="govuk-heading-m">Reduce your exposure to air pollution</h2>

<p>Long term exposure to air pollution (over years) can lead to serious health conditions and can reduce life expectancy.</p>

<p>You should try to reduce your exposure to air pollution where you can, even when levels are lower. You can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>take travel routes with less traffic, especially at busy times of day</li>
  <li>walk or use public transport where possible</li>
  <li>compost your garden waste or take it to a refuse centre, instead of burning it</li>
  <li>improve your indoor air quality by using more efficient appliances and choosing cleaning products marked as “low VOC” (volatile organic compounds)</li>
</ul>

<p>Find out more about <a class="govuk-link" href="/{{ version }}/reduce-exposure?locationName={{ locationName }}&parentArea={{ parentArea }}">actions you can take to reduce your exposure and reduce your personal contributions to air pollution</a>.</p>

<div class="govuk-!-padding-bottom-5"></div>
