{% extends "layouts/main.html" %}

{% set displayBacklink = false %}
{% set caption = "" %}
{% set title = "Sulphur dioxide (SO₂)" %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <p>Sulphur dioxide is a colourless gas with a strong odour. It's mainly produced from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>burning petrol or diesel in vehicles</li>
        <li>gas boilers</li>
        <li>coal burning power stations</li>
        <li>commercial manufacturing</li>
        <li>food manufacturing</li>
      </ul>
      <p>
        Short term exposure to air pollution can cause:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>worsening of asthma symptoms</li>
        <li>worsening of chronic obstructive pulmonary disease (COPD)</li>
        <li>difficulty breathing</li>
        <li>coughing</li>
        <li>eye, nose, and throat irritation</li>
        <li>chest tightness and pain</li>
      </ul>
    </div>
  </div>
{% endblock %}

