<h2 class="govuk-heading-m">What’s being done to reduce air pollution in 
          {{ parentArea }}  </h2>
<p>
  The council in this location is Birmingham City Council.
</p>

<p class="govuk-body"><a href="../la-page.html" class="govuk-link">How this council is reducing air pollution</a></p>

<h3 class="govuk-heading-s">
  Smoke control areas
</h3>
<p class="govuk-body">Smoke control areas are zones where it is illegal to emit smoke from a chimney or buy or sell unauthorised fuel for use within them.</p>
<p class="govuk"><a href="https://www.gov.uk/smoke-control-area-rules" class="govuk-link">Smoke control areas: the rules</a></p>
<div class="govuk-inset-text" style="border-left: 10px solid #ECD228; background-color: #FFF7BF;">
  There is a smoke control area in this location
  <p class="govuk"><a href="https://get-air-pollution-data-proto-c7a2601e06dd.herokuapp.com/version-15/station/scas/" class="govuk-link">Find out more information</a></p>
</div>

