ul.language-toggle {
    text-align: right;
    white-space: nowrap;
    margin-top: govuk-spacing(3);
  }

  ul.language-toggle li {
    display: inline-block;
    padding-left: 1rem;
    border-left: 0.1rem solid currentColor;
    margin-left: 0.66rem;
  }

  ul.language-toggle li:first-child {
    padding-left: 0;
    border-left: none;
    margin-left: 0;
  }

  .header-links {
    width: 100%;
  }
  
  .back-link {
    float: left;
    vertical-align: top;
  }
  
  .langage-toggle {
    width: 33.333%; 
    float: right;
  }

  .govuk-back-link {
    margin-top: 0px;
  }