.govuk-caption-s {
    @extend .govuk-caption-m;
    @include govuk-font($size: 16);
  }


.defra-icon-divider {
    border-top: 1px solid #b1b4b6;
    padding: govuk-spacing(4) 0 govuk-spacing(6) 0
}

dt, dd {
  margin-left: 0;
}
  