.chart {
    &__area {
        fill: #ebf0f7;
    }

    &__line {
        stroke: #3a70b3;
        stroke-width: 3px;
    }

    &__circle {
        stroke: #3a70b3;
        stroke-width: 3px;
        fill: #fff;
    }

    &__data {
        opacity: 0;
        &:last-of-type {
            opacity: 1;
            transition: opacity 0.3s ease; 
        }
    }

    &__hover {
        opacity: 0;
        will-change: opacity; 
        &:hover {
            & + .chart__data {
                opacity: 1;
            }
            & ~ .current-reading {
                opacity: 0; 
            }
        }
    }

    &__labels {
        @include govuk-font($size: 16);
        color: $govuk-secondary-text-colour;
    }
}

.chart__hover:focus + .chart__data {
    opacity: 1;
}
.chart__hover:focus ~ .current-reading {
    opacity: 0; 
}

.current-reading, .threshold {
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.base_line, .grid_line {
    stroke-width: 1px;
    stroke: $govuk-border-colour; 
    &.grid_line {
        stroke: rgba($govuk-text-colour, 0.1); 
    }
}

.threshold_line {
    stroke: $govuk-text-colour;
    stroke-width: 3px;
    opacity: 1; 
    transition: opacity 3s ease; 
}

.tooltip {
    &-bg {
        fill: white;
        stroke-width: 1;
        color: $govuk-secondary-text-colour;
        stroke: currentColor;
        shape-rendering: crispEdges;
    }

    &-text {
        @include govuk-font($size: 16);
        color: $govuk-text-colour;
        fill: currentColor;
    }

    &-text__strong {
        @include govuk-font($size: 19, $weight: bold);
    }
}
