{% extends "layouts/post-mvp-fixes.html" %}
{% set caption = "" %}
{% set title = "How air pollution may affect health" %}
{% set displayBacklink = false %}
{% set displayLanguageToggle = true %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
        <h2 class="govuk-heading-m">Long term exposure to air pollution</h2>
      <p>
        Long term exposure to air pollution, even if it's low, can increase the risk of getting certain health conditions.
        The extent of this risk depends on what's in the air and how long you breathe it.
      </p>
      <p>
        Some of the conditions caused by long term exposure to air pollution are:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
        <li>lung conditions, such as asthma</li>
        <li>cancer</li>
        <li>heart disease</li>
        <li>Alzheimer's disease</li>
        <li>Dementia</li>
        <li>Parkinson disease</li>
        <li>increased respiratory illnesses</li>
      </ul>
      <h2 class="govuk-heading-m">Health advice for short term exposure to air pollution</h2>
      <dl class="aq-definition-list">
        <dt class="aq-defintion-term"><strong class="daqi-tag daqi-tag--1">Low</strong></dt>
        <dd class="">{{ airQualityData['low'].advice }}</dd>
        <dt class="aq-defintion-term"><strong class="daqi-tag daqi-tag--4">Moderate</strong></dt>
        <dd class="">{{ airQualityData['moderate'].advice }}</dd>
        <dd class="">{{ airQualityData['moderate'].atrisk.adults }}</dd>
        <dd class="">{{ airQualityData['moderate'].atrisk.asthma }}</dd>
        <dd class="">{{ airQualityData['moderate'].atrisk.oldPeople }}</dd>
        <dt class="aq-defintion-term"><strong class="daqi-tag daqi-tag--7">High</strong></dt>
        <dd class="">{{ airQualityData['high'].advice }}</dd>
        <dd class="">{{ airQualityData['high'].atrisk.adults }}</dd>
        <dd class="">{{ airQualityData['high'].atrisk.asthma }}</dd>
        <dd class="">{{ airQualityData['high'].atrisk.oldPeople }}</dd>
        <dt class="aq-defintion-term"><strong class="daqi-tag daqi-tag--10">Very high</strong></dt>
        <dd class="">{{ airQualityData['veryHigh'].advice }}</dd>
        <dd class="">{{ airQualityData['veryHigh'].atrisk.adults }}</dd>
        <dd class="">{{ airQualityData['veryHigh'].atrisk.asthma }}</dd>
        <dd class="">{{ airQualityData['veryHigh'].atrisk.oldPeople }}</dd>
      </dl>
      
{% endblock %}
