{{ govukDetails({
    summaryText: "Try to reduce your exposure to air pollution",
    html: "
    <p>There is no safe level of air pollution. Consider the following suggestions:</p>
    <ul class='govuk-list govuk-list--bullet'>
        <li>taking roads with less traffic</li>
        <li>walking on the side of the pavement furthest from the road</li>
        <li>avoiding roads when they're at their busiest</li>
        <li>exercising in a well-ventilated room indoors</li>
        <li>exercising at a park or other green space, if pollen does not trigger your condition</li>
    </ul>
    "
}) }}