<h2 class="govuk-heading-s">Average levels for 2023 in {{ result.GAZETTEER_ENTRY.NAME1 }}</h2>
<p>These levels are calculated from a combination of real measured data and mathematically modelled data. </p>

{{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Pollutant"
    },
    {
      text: "Annual mean"
    },
    {
      text: "Recommended limit"
    }
  ],
  rows: [
    [
      {
        html: "<a class='govuk-link' href='/" + version + "/air-pollutants-we-measure#pm2_5'>PM2.5</a>"
      },
      {
        html: "9 <span class='govuk-body-s'>μg/㎥</span>"
      },
      {
        html: "20 <span class='govuk-body-s'>μg/㎥</span>"
      }
    ],
    [
    {
      html: "<a class='govuk-link' href='/" + version + "/air-pollutants-we-measure#pm10'>PM10</a>"
    },
    {
      html: "11 <span class='govuk-body-s'>μg/㎥</span>"
    },
    {
      html: "40 <span class='govuk-body-s'>μg/㎥</span>"
    }
    ],
    [
    {
      html: "<a class='govuk-link' href='/" + version + "/air-pollutants-we-measure#nitrogen-dioxide'>Nitrogen dioxide</a>"
    },
    {
      html: "11 <span class='govuk-body-s'>μg/㎥</span>"
    },
    {
      html: "40 <span class='govuk-body-s'>μg/㎥</span>"
    }
    ],
    [
    {
      html: "<a class='govuk-link' href='/" + version + "/air-pollutants-we-measure#ozone'>Ozone</a>"
    },
    {
      html: "18 days over 120 <span class='govuk-body-s'>μg/㎥</span>"
    },
    {
      html: "16 days over 120 <span class='govuk-body-s'>μg/㎥</span>"
    }
    ],
    [
    {
      html: "<a class='govuk-link' href='/" + version + "/air-pollutants-we-measure#sulphur-dioxide'>Sulphur dioxide</a>"
    },
    {
      html: "2 <span class='govuk-body-s'>μg/㎥</span>"
    },
    {
      html: "20 <span class='govuk-body-s'>μg/㎥</span>"
    }
    ]
  ]
}) }}

<p class="govuk-!-margin-bottom-6">We measure pollutants by micrograms per cubic metre (μg/㎥). A microgram is 1 millionth of a gram.</p>
