
// Vertical align middle

.align-middle {
    vertical-align: middle;
  }


.govuk-radios__conditional {
  padding-left: 37px;
}

.govuk-main-wrapper {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}
