<h2 class="govuk-heading-m">How you can reduce your exposure to air pollution</h2>

<p>There is no safe level of air pollution. </p>

<p>Long term exposure to air pollution (over years) can lead to many different <a class="govuk-link" href="/{{ version }}/health-effects?locationName={{ locationName }}&parentArea={{ parentArea }}">health conditions</a> and can reduce life expectancy.</p>

<p>To reduce your exposure to air pollution consider the following actions: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>take roads with less traffic</li>
  <li>avoid roads at the busiest times</li>
  <li>commute, walk or exercise in parks or other green spaces, if pollen does not trigger your condition</li>
  <li>exercise in a well-ventilated room indoors</li>
</ul>
