
// DAQI Colours

$daqi-colour-0: #E0E0E0;
$daqi-colour-1: #9CFF9C;
$daqi-colour-2: #31FF00;
$daqi-colour-3: #31CF00;
$daqi-colour-4: #FFFF00;
$daqi-colour-5: #FFCF00;
$daqi-colour-6: #FF9A00;
$daqi-colour-7: #FF6464;
$daqi-colour-8: #FF0000;
$daqi-colour-9: #990000;
$daqi-colour-10: #CE30FF;

$daqi-colour: (
  $daqi-colour-0,
  $daqi-colour-1,
  $daqi-colour-2,
  $daqi-colour-3,
  $daqi-colour-4,
  $daqi-colour-5,
  $daqi-colour-6,
  $daqi-colour-7,
  $daqi-colour-8,
  $daqi-colour-9,
  $daqi-colour-10
);