
// Vertical align middle

.align-middle {
    vertical-align: middle;
  }


.govuk-radios__conditional {
  padding-left: 37px;
}

.govuk-main-wrapper {
  display: block;
  @include govuk-responsive-padding(8, 'top');
  @include govuk-responsive-padding(8, 'bottom');
}

