{% extends "layouts/proto-dev-new.html" %}
{% set showAnotherService = true %}
{% set anotherServiceName = "Check air quality" %}

{% block pageTitle %}
Check your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype and is not a live service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}


  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/{{ version }}/sign-up-for-alerts/check-your-messages-2" method="post">


    <h1 class="govuk-heading-l">
        We are going to send you a security code
    </h1>

    <p>We will send a text message to <b>{{ text }}</b> with a 5-digit security code.</p>


<!-- AGREE and CONTINUE button -->

    {{ govukButton({
      text: "Agree and continue",
      href: href,
      classes: "govuk-button--primary govuk-!-margin-bottom-8"
    }) }}

    <div>
        <a href="mobile-number.html">I want to change the mobile phone number</a>
    </div>

    </form>

  </div>
</div>

{% endblock %}
