{% extends "layouts/proto-dev-new.html" %}
{% set showAnotherService = true %}
{% set anotherServiceName = "Check air quality" %}

{% block pageTitle %}
Do you want to create an alert for {{ locationString }}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Dev Prototype"
  },
  html: 'This is a prototype and is not a live service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}

{% if status == 'check-your-details' %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% else %}
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      {{ govukNotificationBanner({
        html: notification,
        type: "success"
      }) }}
    

    <!-------- H1 -------->

    <h1 class="govuk-heading-l">
        Manage air quality alerts
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-8">You will get an alert when levels are high or very high.</p>


    <!--------- MANAGE ALERTS body content -------->

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Alerts are being sent to:</h2>
        </dt>
        <dd>
          <p class="govuk-body govuk-!-margin-bottom-2">{{ email }}{{ text }}</p>
        </dd>
        <dd>

          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-one-quarter">
              <p class="govuk-body"><a href="change-alert-method.html">Change</a></p>
            </div>
            <div class="govuk-grid-column-three-quarters">
              <p class="govuk-body"><a href="unsubscribe-alerts.html">Unsubscribe</a></p>
            </div>
          </div>
           
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt>
          <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Your alert locations</h2>
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
        </dt>
        <dd>
          <p class="govuk-body govuk-!-margin-bottom-2">{{ locationString }}</p>
        </dd>
        <dd>
          <p class="govuk-body govuk-!-margin-bottom-6"><a href="change-alert-location.html">Change</a></p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </dd>
      </div>
    </dl>

<!-- MANAGE ALERTS button -->
    {{ govukButton({
      text: "Add another location",
      classes: "govuk-button--secondary govuk-!-margin-bottom-8"
    }) }}

  </div>
</div>

{% endblock %}
