<svg width="630" height="190" viewBox="0 0 630 190" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
  <g transform="scale(1,-1) translate(0, -190)">

  <!-- Polygon fill below the graph -->
  <polygon class="chart__area"
  points="0.000,22 12.375,28 37.125,19.5 61.875,14.3 86.625,16.7 111.375,19.6 136.125,52.8 160.875,42.1 185.625,37.4 210.375,27.3 235.125,19 259.875,16.7 284.625,15.2 309.375,14.3 334.125,15.1 358.875,15.6 383.625,14.9 408.375,17.3 433.125,22.5 457.875,35.4 482.625,52.6 507.375,37.4 532.125,32.3 556.875,29.3 581.625,14.5 581.625,10 0.000,10" />
   <!-- Polyline and Polygon for the graph -->
   <polyline class="chart__line" fill="none"
   points="0,22 12.375,28 37.125,19.5 61.875,14.3 86.625,16.7 111.375,19.6 136.125,52.8 160.875,42.1 185.625,37.4 210.375,27.3 235.125,19 259.875,16.7 284.625,15.2 309.375,14.3 334.125,15.1 358.875,15.6 383.625,14.9 408.375,17.3 433.125,22.5 457.875,35.4 482.625,52.6 507.375,37.4 532.125,32.3 556.875,29.3 581.625,14.5 " />
   
  <!-- Y axis labels -->
  <g class="chart__labels" transform="translate(604, 155)">
    {# Axis labels generated in a loop with adjustable scale #}
    {% set scale = 1 %} {# Set the scale here #}
    {% set startValue = 0 %} {# Set the starting value here #}
    {% set increment = 50 %} {# Set the value increment here #}
    {% set startY = 150 %} {# Set the starting y position here #}
    {% set stepY = -30 %} {# Set the step in y position (negative for moving up) #}
    
    {% for i in range(6) %}
      <text y="{{ startY + i * stepY }}" text-anchor="start" transform="scale({{ scale }},-{{ scale }})">
        {{ startValue + i * increment }}
      </text>
    {% endfor %}
  </g>
  
   <!-- Gridlines -->
   {# Base line #}
   <line class="base_line" x1="0" y1="10" x2="594" y2="10" />
 
   {# Grid lines generated in a loop #}
   {% for i in range(1, 6) %}
     <line class="grid_line" x1="0" y1="{{ 10 + i * 30 }}" x2="594" y2="{{ 10 + i * 30 }}" />
   {% endfor %}

  <!-- DAQI Threshold -->
  <line class="threshold_line" x1="0" y1="128" x2="594" y2="128" />
  
  <!-- Circles at data points -->
  <rect class="chart__hover" x="0" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="12.375" y1="10" x2="12.375" y2="160" />
    <g class="tooltip" transform="translate(5, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(24) }}</text>
    </g>
    <circle cx="12.375" cy="28" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="24.75" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="37.125" y1="10" x2="37.125" y2="160" />
    <g class="tooltip" transform="translate(17.75, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(23) }}</text>
    </g>
    <circle cx="37.125" cy="19.5" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="49.5" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="61.875" y1="10" x2="61.875" y2="160" />
    <g class="tooltip" transform="translate(30.5, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(22) }}</text>
    </g>
    <circle cx="61.875" cy="14.3" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="74.25" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="86.625" y1="10" x2="86.625" y2="160" />
    <g class="tooltip" transform="translate(43.25, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(21) }}</text>
    </g>
    <circle cx="86.625" cy="16.7" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="99.0" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="111.375" y1="10" x2="111.375" y2="160" />
    <g class="tooltip" transform="translate(43.25, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(20) }}</text>
    </g>
    <circle cx="111.375" cy="19.6" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="123.75" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="136.125" y1="10" x2="136.125" y2="160" />
    <g class="tooltip" transform="translate(66, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(19) }}</text>
    </g>
    <circle cx="136.125" cy="52.8" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="148.5" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="160.875" y1="10" x2="160.875" y2="160" />
    <g class="tooltip" transform="translate(90.75, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(18) }}</text>
    </g>
    <circle cx="160.875" cy="42.1" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="173.25" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="185.625" y1="10" x2="185.625" y2="160" />
    <g class="tooltip" transform="translate(115.25, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(17) }}</text>
    </g>
    <circle cx="185.625" cy="37.4" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="198.0" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="210.375" y1="10" x2="210.375" y2="160" />
    <g class="tooltip" transform="translate(140, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(16) }}</text>
    </g>
    <circle cx="210.375" cy="27.3" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="222.75" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="235.125" y1="10" x2="235.125" y2="160" />
    <g class="tooltip" transform="translate(164.75, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(15) }}</text>
    </g>
    <circle cx="235.125" cy="19" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="247.5" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="259.875" y1="10" x2="259.875" y2="160" />
    <g class="tooltip" transform="translate(189.5, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(14) }}</text>
    </g>
    <circle cx="259.875" cy="16.7" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="272.25" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="284.625" y1="10" x2="284.625" y2="160" />
    <g class="tooltip" transform="translate(214.25, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(13) }}</text>
    </g>
    <circle cx="284.625" cy="15.2" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="297.0" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="309.375" y1="10" x2="309.375" y2="160" />
    <g class="tooltip" transform="translate(239, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(12) }}</text>
    </g>
    <circle cx="309.375" cy="14.3" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="321.75" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="334.125" y1="10" x2="334.125" y2="160" />
    <g class="tooltip" transform="translate(263.75, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(11) }}</text>
    </g>
    <circle cx="334.125" cy="15.1" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="346.5" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="358.875" y1="10" x2="358.875" y2="160" />
    <g class="tooltip" transform="translate(288.5, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(10) }}</text>
    </g>
    <circle cx="358.875" cy="15.6" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="371.25" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="383.625" y1="10" x2="383.625" y2="160" />
    <g class="tooltip" transform="translate(313.25, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(9) }}</text>
    </g>
    <circle cx="383.625" cy="14.9" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="396.0" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="408.375" y1="10" x2="408.375" y2="160" />
    <g class="tooltip" transform="translate(338, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(8) }}</text>
    </g>
    <circle cx="408.375" cy="17.3" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="420.75" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="433.125" y1="10" x2="433.125" y2="160" />
    <g class="tooltip" transform="translate(362.75, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(7) }}</text>
    </g>
    <circle cx="433.125" cy="22.5" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="445.5" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="457.875" y1="10" x2="457.875" y2="160" />
    <g class="tooltip" transform="translate(387.5, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(6) }}</text>
    </g>
    <circle cx="457.875" cy="35.4" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="470.25" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="482.625" y1="10" x2="482.625" y2="160" />
    <g class="tooltip" transform="translate(412.25, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(5) }}</text>
    </g>
    <circle cx="482.625" cy="52.6" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="495.0" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="507.375" y1="10" x2="507.375" y2="160" />
    <g class="tooltip" transform="translate(437, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(4) }}</text>
    </g>
    <circle cx="507.375" cy="37.4" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="519.75" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="532.125" y1="10" x2="532.125" y2="160" />
    <g class="tooltip" transform="translate(449, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(3) }}</text>
    </g>
    <circle cx="532.125" cy="32.3" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="544.5" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="556.875" y1="10" x2="556.875" y2="160" />
    <g class="tooltip" transform="translate(449, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(2) }}</text>
    </g>
    <circle cx="556.875" cy="29.3" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <rect class="chart__hover" x="569.25" y="0" width="24.75" height="100%" />
  <g class="chart__data">
    <line class="base_line" x1="581.625" y1="10" x2="581.625" y2="160" />
    <g class="tooltip" transform="translate(449, 80)">
      <rect x="0" y="0" width="140" height="70" class="tooltip-bg"/>
      <text x="15" y="-40" class="tooltip-text__strong" transform="scale(-1, 1) rotate(180)">18 μg/㎥</text>
      <text x="15" y="-15" class="tooltip-text" transform="scale(-1, 1) rotate(180)">{{ "now" | date | minusHours(1) }}</text>
    </g>
    <circle cx="581.625" cy="14.5" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />
  </g>
  <g class="current-reading">
    <line class="base_line" x1="581.625" y1="10" x2="581.625" y2="160" />
    <circle cx="581.625" cy="14.5" r="5" class="chart__circle" vector-effect="non-scaling-stroke" />  
    <g class="tooltip threshold" transform="translate(168, 110)">
      <rect x="0" y="0" width="253" height="36" class="tooltip-bg"/>
      <text x="10" y="-13" class="tooltip-text" transform="scale(-1, 1) rotate(180)">Moderate levels 201 to 400 μg/㎥</text>
    </g>
  </g>
</g>
</svg>

