<h2 class="govuk-heading-m">Air pollutants monitored nearby</h2>
{% for site in monitoringSites %}
    <div>
      <h3 class="defra-aq-site__title govuk-heading-s govuk-!-margin-bottom-0">{{ site.site_name }}</h3>
      <p class="govuk-caption-m govuk-!-margin-bottom-2">{{ site.distance }} miles away</p>
      <p>{{ siteTypeDescriptions[site.site_type] }}</p>
      {% for pollutant in site.pollutants %}
        {% set pollutantDetail = pollutantTypes[pollutant.type] %}
        <div class="aq-pollutant-levels--border">
          <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">
            <a href="/{{ version }}{{ pollutantDetail.href }}">{{ pollutantDetail.title }}</a>
          </h4>
          <p>{{ pollutantDetail.description }}</p>
          <h5 class="govuk-heading-s govuk-!-margin-bottom-1">Latest at {{ "now" | date | minusHours(1) }}</h5>
          <p><span class="aq-measurements govuk-!-margin-right-2">{{ pollutant.measurement | int }} micrograms per cubic metre (μg/㎥)</span>
            <strong class="daqi-tag daqi-tag--{{ pollutant.aqi }}">{{ pollutant.band }}</strong>
          </p>
        </div>
        <h5 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-3">Levels over the past 24 hours</h5>
        {% include "/" + folder + "/includes/charts/" + pollutant.chart + ".html" %}
        <p class="govuk-!-margin-bottom-6"><a href="#">View levels over a longer period</a></p>
      {% endfor %}
    </div>
{% endfor %}

