{% extends "layouts/version-2-3.html" %}
{% set showAnotherService = true %}
{% set anotherServiceName = "Check air quality" %}


{% block pageTitle %}
Check your mobile phone – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype " + version
  },
  html: 'This is a prototype and is not a live service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your mobile phone</h1>

      <p class="govuk-body">
        We've sent a text message to <strong>{{ text }}</strong> with a 5 digit activiation code.
      </p>
      {{ govukInput({
        label: {
          text: "Enter the code to activate your air pollution alert."
        },
        classes: "govuk-!-width-one-third",
        id: "activation-code",
        name: "activation-code"
      }) }}

      <p>
        The code expires in 15 minutes.
      </p>

      <!-- DETAILS -->
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Not received a text message?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Text messages sometimes take a few minutes to arrive.</p>
        <p>If you have not received the text message after 10 minutes, check that:</p> 
        <ul>
          <li>the phone number shown here is correct</li>
          <li>you have mobile phone signal</li>
        </ul>
        <p>If you still don’t have the text message, you can <a href="send-new-code.html">request a new activation code</a>.</p>
        </div>
      </details>
      <!-- END DETAILS -->

      
      {{ govukButton({
        text: "Continue",
        href: "/" + version + "/sign-up-for-alerts/confirm-alert-details"
      }) }}

    </div>
  </div>

{% endblock %}