{% extends "layouts/version-2-3.html" %}
{% set showAnotherService = true %}
{% set anotherServiceName = "Check air quality" %}

{% block pageTitle %}
You will continue to get air pollution  email alerts
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype " + version
  },
  html: 'This is a prototype and is not a live service.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You will continue to get air pollution alerts by email</h1>

        <div class="govuk-body">
        If you want to set up another alert, you can <a href="/{{ version }}/where.html">search for a town or postcode</a>.
      </div>

    </div>
  </div>

{% endblock %}