{% extends "layouts/private-beta.html" %}
{% set displayBreadcrumbs = false %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {{ govukTable({
        caption: "Prototype version",
        captionClasses: "govuk-table__caption--l",
        firstCellIsHeader: false,
        head: [
          {
            text: "Version"
          },
          {
            text: "Design history"
          }
        ],
        rows: [
          [
            {
              html: '<a href="/sprint-5">Sprint 5</a>'
            },
            {
              html: 'TBD'
            }
          ],
          [
            {
              html: '<a href="/private-beta">Private beta</a>'
            },
            {
              html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-two/">Design history</a>'
            }
          ]
        ]
      }) }}
  </div>
</div>

{% endblock %}
