{% extends "layouts/main.html" %}
{% set displayBreadcrumbs = false %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      {{ govukTable({
        caption: "Prototype version",
        captionClasses: "govuk-table__caption--l",
        firstCellIsHeader: false,
        head: [
          {
            text: "Version"
          }
          ,
          {
            text: "Design history"
          }
        ],
        rows: [

                [
                {
                  html: '<a href="/sprint-24" class="govuk-!-margin-right-2">Sprint 24 - Air Quality alerts - third round</a>'
                },
                {
                  html: 'Not published yet'
                }
                ],
                [
                {
                  html: '<a href="/sprint-23" class="govuk-!-margin-right-2">Sprint 23 - Air Quality alerts (setup and manage) - second round</a>'
                },
                {
                  html: 'Not published yet'
                }
                ],

                [
                {
                  html: '<a href="/sprint-22" class="govuk-!-margin-right-2">Sprint 22 - Air Quality alerts (setup and manage)</a>'
                },
                {
                  html: 'Not published yet'
                }
                ], 

                [
                {
                  html: '<a href="/sprint-21" class="govuk-!-margin-right-2">Sprint 21 - Revised health messaging - second round</a>'
                },
                {
                  html: 'Not published yet'
                }
                ], 
                [
                {
                  html: '<a href="/sprint-16" class="govuk-!-margin-right-2">Sprint 16 - Revised health messaging </a>'
                },
                {
                  html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-16/">Design history</a>'
                }
                ],    
                [
                  {
                    html: '<a href="/sprint-15" class="govuk-!-margin-right-2">Sprint 15</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-15/">Design history</a>'
                  }
                ],  
                [
                  {
                    html: '<a href="/sprint-14" class="govuk-!-margin-right-2">Sprint 14</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-14/">Design history</a>'
                  }
                ],  
                [
                  {
                    html: '<a href="/sprint-13/air-pollution" class="govuk-!-margin-right-2">Sprint 13</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-13/">Design history</a>'
                  }
                ],  
                [
                  {
                    html: 'Sprint break (Sprint 12)'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-12/">Design history</a>'
                  }
                ],
                [
                  {
                    html: 'Sprint break (Sprint 11)'
                  },
                  {
                    html: 'Not applicable'
                  }
                ],
                [
                  {
                    html: '<a href="/sprint-10" class="govuk-!-margin-right-2">Sprint 10</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-10/">Design history</a>'
                  }
                ],
                [
                  {
                    html: '<a href="/sprint-9" class="govuk-!-margin-right-2">Sprint 9</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-9/">Design history</a>'
                  }
                ],
                [
                  {
                    html: '<a href="/sprint-8" class="govuk-!-margin-right-2">Sprint 8</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-8/">Design history</a>'
                  }
                ],
                [
                  {
                    html: 'Sprint break (Sprint 7)'
                  },
                  {
                    html: 'Not applicable'
                  }
                ],
                [
                  {
                    html: '<a href="/sprint-6" class="govuk-!-margin-right-2">Sprint 6</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-6/">Design history</a>'
                  }
                ],
                [
                  {
                    html: '<a href="/sprint-5" class="govuk-!-margin-right-2">Sprint 5</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-5/">Design history</a>'
                  }
                ],
                [
                  {
                    html: '<a href="/sprint-4" class="govuk-!-margin-right-2">Sprint 4</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-4/">Design history</a>'
                  }
                ],
                [
                  {
                    html: '<a href="/post-mvp-fixes">Post MVP</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-6/">Design history</a>'
                  }
                ],
                [
                  {
                    html: '<a href="/private-beta-fixes">Private beta</a>'
                  },
                  {
                    html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-two/">Design history</a>'
                  }
                ],
                
                [
                {
                  html: '<a href="/proto-dev" class="govuk-!-margin-right-2">Prototype for development</a>'
                },
                {
                  html: 'Not applicable'
                }
                ]
              ]
    }) }}
    
  </div>
</div>

{% endblock %}
