{% extends "layouts/main.html" %}
{% set displayBreadcrumbs = false %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {{ govukTable({
        caption: "Prototype version",
        captionClasses: "govuk-table__caption--l",
        firstCellIsHeader: false,
        head: [
          {
            text: "Version"
          }
          ,
          {
            text: "Design history"
          }
        ],
        rows: [  
              [
                {
                  html: '<a href="/sprint-13/air-pollution" class="govuk-!-margin-right-2">Sprint 13</a>'
                },
                {
                  html: 'Not published yet'
                }
              ],
              [
                {
                  html: 'Sprint break (Sprint 12)'
                },
                {
                  html: '<a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1721293604549/5c988e9af3b542dd7d2726dbef3ef77c4685460a?sender=ue067c80fbdc14e86fa194293">Alerts planning</a>'
                }
              ],
              [
                {
                  html: 'Sprint break (Sprint 11)'
                },
                {
                  html: 'Not applicable'
                }
              ],
              [
                {
                  html: '<a href="/sprint-10" class="govuk-!-margin-right-2">Sprint 10</a>'
                },
                {
                  html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-10/">Design history</a>'
                }
              ],
              [
              {
                html: '<a href="/sprint-9" class="govuk-!-margin-right-2">Sprint 9</a>'
              },
              {
                html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-9/">Design history</a>'
              }
            ],
                  [
              {
                html: '<a href="/sprint-8" class="govuk-!-margin-right-2">Sprint 8</a>'
              },
              {
                html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-8/">Design history</a>'
              }
            ],
            [
            {
              html: 'Sprint break (Sprint 7)'
            },
            {
              html: 'Not applicable'
            }
          ],
              [
              {
                html: '<a href="/sprint-6" class="govuk-!-margin-right-2">Sprint 6</a>'
              },
              {
                html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-6/">Design history</a>'
              }
            ],
            [
              {
                html: '<a href="/sprint-5" class="govuk-!-margin-right-2">Sprint 5</a>'
              },
              {
                html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-5/">Design history</a>'
              }
            ],
            [
            {
              html: '<a href="/sprint-4" class="govuk-!-margin-right-2">Sprint 4</a>'
            },
            {
              html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-4/">Design history</a>'
            }
          ],
            [
              {
                html: '<a href="/post-mvp">Post MVP</a>'
              },
              {
                html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-6/">Design history</a>'
              }
            ],
            [
            {
              html: '<a href="/private-beta">Private beta</a>'
            },
            {
              html: '<a href="https://defra-design.github.io/aqie-design-history/posts/private-beta/sprint-two/">Design history</a>'
            }
          ]
        ]
    }) }}
    
  </div>
</div>

{% endblock %}
