<!-- {% extends "layouts/main.html" %} -->
{% extends "layouts/version-2-2.html" %}
{% set caption = "" %}
{% set title = "Smoke, dust and other particles (particulate matter)" %}

{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}

{% block beforeContent %}
{{ govukPhaseBanner({
      tag: {
        text: "Prototype " + version
      },
      html: 'This is a prototype and not a live service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

  {{ govukBackLink({
  text: "Air quality in " + locationName,
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>

      <p>Particulate matter is everything in the air that is not a gas. This includes a wide range of small solid or liquid particles, some of which are toxic.</p>
      <p>There are 2 main types of particulate matter (PM), which can have different health effects:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>fine particles (PM2.5) are 2.5 micrometres wide, or smaller</li>
        <li>coarse particles (PM10) are 10 micrometres wide, or smaller (this includes PM2.5)</li>
      </ul>

      <p>For context, the width of a human hair is about 50 to 70 micrometres.</p>

      <div class="govuk-!-padding-bottom-6"></div>


      <!-- HEALTH EFFECTS OF PARTICULATE MATTER -->

      <h2 class="govuk-heading-m">Health effects of particulate matter</h2>
      <p>Particulate matter is small enough to enter the bloodstream through the lungs and travel around the body, affecting the heart, brain and other organs.</p>
        
      <p>When there is a lot of particulate matter in the air, it can cause coughing, irritation of the eyes, nose and throat, and other <a href="../health-effects.html">short term health effects</a>. People with lung conditions, children and older people are most at risk.</p>

      <p>Long term exposure to particulate matter is linked to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>asthma and other respiratory conditions</li>
        <li>lung cancer and lung tissue damage</li>
        <li>chronic obstructive pulmonary disease (COPD)</li>
        <li>heart disease and heart failure</li>
        <li>strokes</li>
        <li>Alzheimer's disease</li>
        <li>Parkinson's disease</li>
      </ul>

      <div class="govuk-!-padding-bottom-6"></div>

      
      <!---- WHERE PARTICULATE MATTER COMES FROM ---->

      <h2 class="govuk-heading-m">Where particulate matter comes from</h2>
      <p>Particulate matter can come from natural processes, vehicle emissions, industrial processes and other human activity. It includes smoke, dust, soot, and smog.</p>

      <p>The main sources of particulate matter pollution are:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>fuel burning by cars and other vehicles</li>
        <li>fuel burning by industry, such as biomass or coal</li>
        <li>fuel burning by households, such as indoor wood burners</li>
        <li>vehicle tyres and brakes getting worn down</li>
        <li>dust and soil from agriculture, construction, landfills and quarrying</li>
        <li>sea spray particles</li>
        <li>burning vegetation and wildfires</li>
        <li>pollen</li>
      </ul>

      <p>Short term high levels of particulate matter can have many causes, for example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>lots of road traffic, roadworks or traffic jams</li>
        <li>major construction or agricultural activity</li>
        <li>wind, rain and other weather conditions</li>
        <li>high pollen count at certain times of year, like spring and summer</li>
      </ul>

      <div class="govuk-!-padding-bottom-6"></div>



      <!---- HOW PARTICULATE MATTER IS MEASURED ---->

      <h2 class="govuk-heading-m">How particulate matter is measured</h2>

      <p>The government has specific targets for reducing PM2.5 emissions and keeping levels low. Reducing PM2.5 will also reduce PM10, because they come from many of the same sources.</p> 
      <p>Find out <a href="../how-aq-measured.html">how air pollution is measured in the UK</a>.</p>

      <div class="govuk-!-padding-bottom-4"></div>

      <!---- PM 2.5 ---->
      <h2 class="govuk-heading-s">Measuring PM2.5</h2>
      <p>PM2.5 pollution is considered:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>low from 0 to 35 micrograms per cubic metre (µg/m³)</li>
        <li>moderate from 36 to 53 µg/m³</li>
        <li>high from 54 to 70 µg/m³</li>
        <li>very high at 71 µg/m³ or higher</li>
      </ul>

      <div class="govuk-!-padding-bottom-4"></div>

      <p>How much PM2.5 is in the air at each level of the Daily Air Quality Index (DAQI):</p>

      <!---- DAQI SCALE ---->
        <div><img src="/public/images/daqi-scale-pm2.png"></div>
      <!---- END DAQI SCALE ---->

      <div class="govuk-!-padding-bottom-4"></div>


      <!---- PM 10 ---->
      <h2 class="govuk-heading-s">Measuring PM10</h2>
      <p>PM10 pollution is considered:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>low from 0 to 50 micrograms per cubic metre (µg/m³)</li>
        <li>moderate from 51 to 75 µg/m³</li>
        <li>high from 76 to 100 µg/m³</li>
        <li>very high at 101 µg/m³ or higher</li>
      </ul>

      <div class="govuk-!-padding-bottom-4"></div>

      <p>How much PM10 is in the air at each level of the Daily Air Quality Index (DAQI):</p>

      <!---- DAQI SCALE ---->
        <div><img src="/public/images/daqi-scale-pm10.png"></div>
      <!---- END DAQI SCALE ---->



    
    </div>
  </div>
{% endblock %}
