<h2 class="govuk-heading-m">How you can reduce your exposure to air pollution</h2>

<p>Consider the following actions:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>take routes where there is less traffic</li>
  <li>try to avoid heavily trafficked areas when they are at their busiest</li>
  <li>commute, walk or exercise in parks or other green spaces, if you are not affected by pollen</li>
  <li>if you exercise indoors, make sure the room is well ventilated</li>
</ul>

<p>Consider other triggers for your symptoms - for example, high pollen outside or poor air quality indoors.</p>

<p>Get more advice on <a class="govuk-link" href="">actions you can take to reduce your exposure to air pollution</a>.</p>

<p>Long term exposure to air pollution (over years) can lead to many different <a class="govuk-link" href="/{{ version }}/health-effects?locationName={{ locationName }}&parentArea={{ parentArea }}">health conditions</a> and can reduce life expectancy.</p>

<div class="govuk-!-padding-bottom-5"></div>
