{% set daqiValue = airQuality.today.value %}

  <h2 id="air-pollution-forecast-today" class="govuk-heading-m govuk-!-margin-bottom-4">
    The air pollution forecast for today<span class="govuk-visually-hidden"> on a scale of low to very high</span> is {{ airQuality.today.readableBand }}
    <span class="govuk-visually-hidden">, {{ airQuality.today.value }} out of 10</span>
  </h2>

  <div class="daqi-scale govuk-!-margin-bottom-7" role="img" aria-describedby="air-pollution-forecast-today" aria-hidden="true">
    <div class="daqi-bar">
      {% for i in range(1, 11) %}
          {% if i <= daqiValue %}
              <div class="daqi-bar-segment daqi-selected daqi-{{ daqiValue }}">
                <svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                  <rect width="100%" height="100%" fill="white"/>
                </svg>
              </div>
          {% else %}
              <div class="daqi-bar-segment daqi-0">
              </div>
          {% endif %}
      {% endfor %}
    </div>
    <div class="daqi-labels">
      <span class="daqi-band">Low</span>
      <span class="daqi-band">Moderate</span>
      <span class="daqi-band">High</span>
      <span class="daqi-band">Very high</span>
    </div>
  </div>


