{{ govukDetails({
    summaryText: "Actions and health advice for different levels of air pollution",
    html: "<p>
                Adults and children with heart or lung problems are at greater risk of the short term effects of air pollution. Follow your doctor's usual advice about exercising and managing your condition. Some vulnerable people may experience symptoms on low air pollution days. Anyone experiencing symptoms should follow our guidance.
            </p>

            <h2 class='govuk-heading-s'>Health advice for short term exposure to air pollution</h2>
            <dl class='aq-definition-list'>
                <dt class='aq-defintion-term'><strong class='daqi-tag daqi-tag--1'>Low</strong></dt>
                <dd class=''>Enjoy your usual outdoor activities.</dd>
                
                <dt class='aq-defintion-term'><strong class='daqi-tag daqi-tag--4'>Moderate</strong></dt>
                <dd class=''>For most people, short term exposure to moderate levels of air pollution is not an issue.</dd>
                <dd class=''>Adults who have heart problems and feel unwell should consider doing less strenuous exercise, especially outside.</dd>
                <dd class=''>People with asthma should be prepared to use their reliever inhaler.</dd>
                <dd class=''>Older people can be more susceptible to the effects of poor air quality and should consider doing less strenuous activity, especially outside.</dd>
                
                <dt class='aq-defintion-term'><strong class='daqi-tag daqi-tag--7'>High</strong></dt>
                <dd class=''>Anyone experiencing discomfort such as sore eyes, cough or sore throat should consider reducing activity, particularly outdoors.</dd>
                <dd class=''>Adults with heart problems should reduce strenuous physical exertion, particularly outdoors, especially if they experience symptoms.</dd>
                <dd class=''>People with asthma may find they need to use their reliever inhaler more often.</dd>
                <dd class=''>Older people can be more susceptible to the effects of poor air quality and should reduce physical exertion.</dd>
                
                <dt class='aq-defintion-term'><strong class='daqi-tag daqi-tag--10'>Very high</strong></dt>
                <dd class=''>Reduce physical exertion, particularly outdoors, especially if you experience symptoms such as cough or sore throat.</dd>
                <dd class=''>Adults with heart problems should avoid strenuous physical activity.</dd>
                <dd class=''>People with asthma may need to use their reliever inhaler more often.</dd>
                <dd class=''>Older people can be more susceptible to the effects of poor air quality and should avoid strenuous physical activity.</dd>
            </dl>"
}) }}

