


<h2 class="govuk-heading-m  govuk-!-margin-bottom-6">UK forecast</h2>
{% set todayHtml %}
<h3 class="aq-forecast-tabs__title govuk-heading-s govuk-!-margin-bottom-1">Today</h3>
<p>{{ airQuality.today.ukTomorrow }}</p>
{% endset -%}

{% set tomorrowHtml %}
<h3 class="aq-forecast-tabs__title govuk-heading-s govuk-!-margin-bottom-1">Tomorrow</h3>
<p>{{ airQuality.today.ukTomorrow }}</p>
{% endset -%}

{% set outlookHtml %}
<h3 class="aq-forecast-tabs__title govuk-heading-s govuk-!-margin-bottom-1">Outlook</h3>
<p>{{ airQuality.today.ukOutlook }}</p>
{% endset -%}

{{ govukTabs({
    items: [
      {
        label: "Today",
        id: "today",
        panel: {
            html: todayHtml
        }
      },
      {
        label: "Tomorrow",
        id: "tomorrow",
        panel: {
            html: tomorrowHtml
        }
      },
      {
        label: "Outlook",
        id: "outlook",
        panel: {
            html: outlookHtml
        }
      }
    ]
  }) }}